Repository wazuh/wazuh-qa, pull requests merged in 2019-12, with the labels that each got.

#314 Check syscheck alert for moving a file
  test_wazuh/test_fim/test_basic_usage/test_basic_usage_move_file.py
Labels: automation

#318 FIM's tests - moving files from whodata directory to realtime directory and vice versa
  test_wazuh/test_fim/test_moving_files/data/wazuh_conf.yaml
  test_wazuh/test_fim/test_moving_files/test_moving_files.py
Labels: automation, component/fim

#333 [FIM test] Check FIM doesn't report any event until the baseline generation
  test_wazuh/test_fim/test_basic_usage/test_basic_usage_baseline_generation.py
Labels: automation, component/fim

#319 [FIM test] Add file alert check
  packages/wazuh_testing/wazuh_testing/data/syscheck_event.json
  packages/wazuh_testing/wazuh_testing/data/syscheck_event_windows.json
  packages/wazuh_testing/wazuh_testing/fim.py
Labels: automation, component/fim

#335 Test if ignore prevails over restrict
  packages/wazuh_testing/wazuh_testing/fim.py
  test_wazuh/test_fim/test_ambiguous_confs/data/wazuh_conf_ignore_restrict.yaml
  test_wazuh/test_fim/test_ambiguous_confs/data/wazuh_conf_ignore_restrict_win32.yaml
  test_wazuh/test_fim/test_ambiguous_confs/test_ignore_works_over_restrict.py
Labels: automation, component/fim

#331 Update auditd tests
  packages/wazuh_testing/wazuh_testing/fim.py
  test_wazuh/test_fim/test_audit/data/wazuh_conf.yaml
  test_wazuh/test_fim/test_audit/test_audit.py
  test_wazuh/test_fim/test_audit/test_audit_after_initial_scan.py
  test_wazuh/test_fim/test_audit/test_remove_audit.py
  test_wazuh/test_fim/test_audit/test_remove_rule_five_times.py
Labels: automation, component/fim, enhancement

#343 Add test to check that duplicate entries are ignored
  packages/wazuh_testing/wazuh_testing/fim.py
  test_wazuh/test_fim/test_ambiguous_confs/data/wazuh_conf_dup_entries.yaml
  test_wazuh/test_fim/test_ambiguous_confs/test_duplicate_entries.py
Labels: automation, component/fim

#357 Fix diff path on Windows
  test_wazuh/test_fim/test_nodiff/test_no_diff_valid.py
Labels: automation, bug, component/fim
