Repository wazuh/wazuh-qa, pull requests merged in 2020-11, with the labels that each got.

#923 Updating integration tests after removing get-agents-by-keepalive com…
  tests/integration/test_wazuh_db/data/global_messages.yaml
  tests/integration/test_wazuh_db/test_wazuh_db.py
Labels: component/wazuhDB

#930 Removing fim_offset, reg_offset, and status global.db columns checks from Wazuh DB integration tests
  tests/integration/test_wazuh_db/data/global_messages.yaml
Labels: component/wazuhDB

#924 Agents' status management improvement based on new monitord settings - Epic integration tests
  tests/integration/test_wazuh_db/data/global_messages.yaml
  tests/integration/test_wazuh_db/test_wazuh_db.py
Labels: component/wazuhDB

#932 Added macOS agents to the integration tests
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/test_scan_results/data/macos_vulnerabilities.json
  tests/integration/test_vulnerability_detector/test_scan_results/data/real_nvd_feed.json
  tests/integration/test_vulnerability_detector/test_scan_results/data/wazuh_macos_inventory.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/test_macos_inventory.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_nvd_feed.py
Labels: core/vuln detector

#931 disconnect-agents by chunks integration tests changes
  tests/integration/test_wazuh_db/data/global_messages.yaml
  tests/integration/test_wazuh_db/test_wazuh_db.py
Labels: component/wazuhDB

#878 Wazuh-logtest IT
  deps/wazuh_testing/wazuh_testing/logtest.py
  deps/wazuh_testing/wazuh_testing/tools/monitoring.py
  tests/integration/conftest.py
  tests/integration/test_agentd/conftest.py
  tests/integration/test_logtest/test_configuration/data/wazuh_conf.yaml
  tests/integration/test_logtest/test_configuration/test_configuration_file.py
  tests/integration/test_logtest/test_configuration/test_get_configuration_sock.py
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_decoder_0.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_decoder_1.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_decoder_10.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_decoder_2.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_decoder_3.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_decoder_4.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_decoder_5.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_decoder_6.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_decoder_7.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_decoder_8.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_decoder_9.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_0.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_1.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_10.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_11.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_12.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_13.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_14.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_2.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_3.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_4.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_5.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_6.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_7.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_8.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/custom_rule_9.xml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/invalid_decoder_syntax.yaml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/data/invalid_rules_syntax.yaml
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/test_invalid_decoder_syntax.py
  tests/integration/test_logtest/test_invalid_rule_decoders_syntax/test_invalid_rules_syntax.py
  tests/integration/test_logtest/test_invalid_socket_input/data/invalid_socket_input.yaml
  tests/integration/test_logtest/test_invalid_socket_input/test_invalid_socket_input.py
  tests/integration/test_logtest/test_invalid_token/data/invalid_session_token.yaml
  tests/integration/test_logtest/test_invalid_token/test_invalid_session_token.py
  tests/integration/test_logtest/test_remove_old_sessions/data/wazuh_conf.yaml
  tests/integration/test_logtest/test_remove_old_sessions/test_remove_old_session_for_inactivity.py
  tests/integration/test_logtest/test_remove_old_sessions/test_remove_old_sessions.py
  tests/integration/test_logtest/test_remove_session/data/remove_session.yaml
  tests/integration/test_logtest/test_remove_session/test_remove_session.py
  tests/integration/test_logtest/test_rules_decoders_load/data/custom_ruleset/custom_decoders_1.xml
  tests/integration/test_logtest/test_rules_decoders_load/data/custom_ruleset/custom_decoders_2.xml
  tests/integration/test_logtest/test_rules_decoders_load/data/custom_ruleset/custom_rules_1.xml
  tests/integration/test_logtest/test_rules_decoders_load/data/custom_ruleset/custom_rules_2.xml
  tests/integration/test_logtest/test_rules_decoders_load/data/load_rules_decoders.yaml
  tests/integration/test_logtest/test_rules_decoders_load/test_load_rules_decoders.py
Labels: core/logtest

#933 Updating IT for wdb-get-agents-by-connection-status
  tests/integration/test_wazuh_db/data/global_messages.yaml
  tests/integration/test_wazuh_db/test_wazuh_db.py
Labels: component/wazuhDB

#919 Registry integration test: Recursion level
  tests/integration/test_fim/test_registry/test_recursion_level/data/wazuh_recursion_windows_registry.yaml
  tests/integration/test_fim/test_registry/test_recursion_level/test_recursion_level_registry.py
Labels: core/fim, core/fim/registry

#937 Updating IT for update-connection-status and reset-agents-connection
  tests/integration/test_wazuh_db/data/global_messages.yaml
  tests/integration/test_wazuh_db/test_wazuh_db.py
Labels: component/wazuhDB, team/duff

#936 Adapt testcases for unified chunks format
  tests/integration/test_wazuh_db/data/global_messages.yaml
Labels: component/wazuhDB

#938 Registry integration tests: Checks
  deps/wazuh_testing/wazuh_testing/fim.py
  tests/integration/test_fim/test_registry/test_checks/data/wazuh_check_all.yaml
  tests/integration/test_fim/test_registry/test_checks/data/wazuh_check_others.yaml
  tests/integration/test_fim/test_registry/test_checks/test_check_others.py
  tests/integration/test_fim/test_registry/test_checks/test_checkers.py
Labels: core/fim, core/fim/registry

#939 Updating Wazuh DB integration tests after fixing limitations introduced to Vulnerability Detector and Monitord as part of the new monitoring mechanism of agents disconnections
  tests/integration/test_wazuh_db/data/global_messages.yaml
  tests/integration/test_wazuh_db/test_wazuh_db.py
Labels: team/duff

#943 Registry integration test: Ambiguous configurations
  deps/wazuh_testing/wazuh_testing/fim.py
  tests/integration/test_fim/test_registry/test_ambiguous_confs/data/wazuh_ambiguous_simple.yaml
  tests/integration/test_fim/test_registry/test_ambiguous_confs/data/wazuh_complex_entries.yaml
  tests/integration/test_fim/test_registry/test_ambiguous_confs/data/wazuh_duplicated_entries.yaml
  tests/integration/test_fim/test_registry/test_ambiguous_confs/data/wazuh_ignore_over_restrict.yaml
  tests/integration/test_fim/test_registry/test_ambiguous_confs/test_ambiguous_complex.py
  tests/integration/test_fim/test_registry/test_ambiguous_confs/test_ambiguous_duplicated_entries.py
  tests/integration/test_fim/test_registry/test_ambiguous_confs/test_ambiguous_ignore_works_over_restrict.py
  tests/integration/test_fim/test_registry/test_ambiguous_confs/test_ambiguous_simple.py
Labels: core/fim, core/fim/registry

#948 Registry integration tests: Synchronization
  tests/integration/test_fim/test_synchronization/conftest.py
  tests/integration/test_fim/test_synchronization/data/wazuh_conf.yaml
  tests/integration/test_fim/test_synchronization/data/wazuh_conf_integrity_scan.yaml
  tests/integration/test_fim/test_synchronization/data/wazuh_conf_integrity_scan_win32.yaml
  tests/integration/test_fim/test_synchronization/data/wazuh_conf_win32.yaml
  tests/integration/test_fim/test_synchronization/data/wazuh_disabled_sync_conf.yaml
  tests/integration/test_fim/test_synchronization/data/wazuh_disabled_sync_conf_win32.yaml
  tests/integration/test_fim/test_synchronization/data/wazuh_invalid_conf.yaml
  tests/integration/test_fim/test_synchronization/data/wazuh_response_conf.yaml
  tests/integration/test_fim/test_synchronization/test_invalid_sync_response.py
  tests/integration/test_fim/test_synchronization/test_response_timeout.py
  tests/integration/test_fim/test_synchronization/test_sync_disabled.py
  tests/integration/test_fim/test_synchronization/test_sync_disabled_win32.py
  tests/integration/test_fim/test_synchronization/test_sync_interval.py
  tests/integration/test_fim/test_synchronization/test_sync_interval_win32.py
  tests/integration/test_fim/test_synchronization/test_synchronize_integrity_scan.py
  tests/integration/test_fim/test_synchronization/test_synchronize_integrity_win32.py
Labels: core/fim, core/fim/registry

#946 Vulnerability Detector: Added vendor to Red Hat packages
  tests/integration/test_vulnerability_detector/test_scan_results/data/redhat_vulnerabilities.json
  tests/integration/test_vulnerability_detector/test_scan_results/data/vulnerabilities.json
  tests/integration/test_vulnerability_detector/test_scan_results/test_debian_inventory_debian_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_msu_inventory_msu_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_redhat_inventory_redhat_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_different_cves.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_nvd_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_ubuntu_inventory_canonical_feed.py
Labels: core/vuln detector

#949 Integration tests for report_changes in Windows registries
  deps/wazuh_testing/wazuh_testing/fim.py
  tests/integration/test_fim/test_registry/test_report_changes/data/wazuh_registry_report_changes.yaml
  tests/integration/test_fim/test_registry/test_report_changes/data/wazuh_registry_report_changes_limits_quota.yaml
  tests/integration/test_fim/test_registry/test_report_changes/test_all_limits_disabled.py
  tests/integration/test_fim/test_registry/test_report_changes/test_diff_size_limit_values.py
  tests/integration/test_fim/test_registry/test_report_changes/test_disk_quota_default.py
  tests/integration/test_fim/test_registry/test_report_changes/test_disk_quota_values.py
  tests/integration/test_fim/test_registry/test_report_changes/test_file_size_default.py
  tests/integration/test_fim/test_registry/test_report_changes/test_file_size_values.py
  tests/integration/test_fim/test_registry/test_report_changes/test_report_changes.py
  tests/integration/test_fim/test_registry/test_report_changes/test_report_changes_deleted.py
  tests/integration/test_fim/test_registry/test_report_changes/test_report_changes_more_changes.py
Labels: core/fim, core/fim/registry

#954 Vulnerability Detector: Fixed ignore_time test
  tests/integration/test_vulnerability_detector/test_general_settings/data/wazuh_ignore_time.yaml
  tests/integration/test_vulnerability_detector/test_general_settings/test_general_settings_ignore_time.py
Labels: core/vuln detector
