Repository wazuh/wazuh-qa, pull requests merged in 2020-02, with the labels that each got.

#433 Use systemd docker images in Kitchen "wazuh-puppet" tests
  kitchen/wazuh-puppet/kitchen/kitchen.yml
  kitchen/wazuh-puppet/kitchen/manifests/site.pp.template
  kitchen/wazuh-puppet/kitchen/run.sh
  kitchen/wazuh-puppet/kitchen/test/base/test_wazuh_agent.py
  kitchen/wazuh-puppet/kitchen/test/base/test_wazuh_manager.py
Labels: Puppet

#438 Add PDK dependencies to kitchen "Puppet"'s Docker image
  kitchen/wazuh-puppet/Dockerfile
Labels: Puppet, docker

#432 Make AWS template dynamic
  tests/system/fim/deploy_aws_stack.yml
  tests/system/fim/roles/aws/defaults/main.yml
  tests/system/fim/roles/aws/tasks/generate_environment_template.yml
  tests/system/fim/roles/aws/tasks/main.yml
  tests/system/fim/roles/aws/templates/environment_template.j2
  tests/system/fim/vars/aws.yml
Labels: fim-system-tests

#462 Disable Yamlint for Molecule tests
  ansible/wazuh-ansible/molecule/elasticsearch-kibana/molecule.yml
  ansible/wazuh-ansible/molecule/elasticsearch-xpack/molecule.yml
  ansible/wazuh-ansible/molecule/wazuh-agent/molecule.yml
  ansible/wazuh-ansible/molecule/worker/molecule.yml
Labels: molecule

#473 Ansible playbook to clean FIM testing environment after each scenario
  tests/system/fim/common_tasks/clean_env.yml
  tests/system/fim/common_tasks/cleanup_files.yml
  tests/system/fim/common_tasks/reinstall_services.yml
  tests/system/provisioning/launch_environment.yml
  tests/system/provisioning/roles/provisioning/tasks/nginx.yml
  tests/system/provisioning/roles/provisioning/templates/provision_playbook.yml.j2
  tests/system/provisioning/setup_instances.yml
  tests/system/provisioning/vars/credentials.yml
  tests/system/provisioning/vars/wazuh_agent.yml
Labels: Ansible, fim-system-tests

#475 FIM System tests: Randomly select and delete n files
  tests/system/fim/common_tasks/delete_files.py
Labels: fim-system-tests

#478 alerts.json verification script
  tests/system/fim/common_tasks/verify_alerts_json.py
Labels: fim-system-tests

#482 Check alerts in Elasticsearch
  tests/system/fim/common_tasks/verify_alerts.yml
  tests/system/fim/common_tasks/verify_alerts_elasticsearch.py
  tests/system/fim/common_tasks/verify_alerts_elasticsearch.yml
  tests/system/fim/common_tasks/verify_alerts_json.yml
Labels: fim-system-tests

#487 Verify generated alerts
  tests/system/fim/common_tasks/verify_alerts.yml
  tests/system/fim/common_tasks/verify_alerts_elasticsearch.py
  tests/system/fim/common_tasks/verify_alerts_elasticsearch.yml
  tests/system/fim/common_tasks/verify_alerts_json.py
  tests/system/fim/common_tasks/verify_alerts_json.yml
Labels: fim-system-tests

#489 Create Ansible vars for actions
  tests/system/fim/roles/aws/tasks/generate_environment_template.yml
  tests/system/fim/roles/aws/tasks/main.yml
  tests/system/fim/roles/aws/templates/environment_template.j2
  tests/system/fim/scenario_default_installation/config/files_configuration.json
  tests/system/fim/scenario_default_installation/tests/files_generated.txt
  tests/system/fim/vars/main.yml
Labels: fim-system-tests

#484 Use argparse to pass arguments to delete_files.py
  tests/system/fim/common_tasks/delete_files.py
Labels: fim-system-tests

#485 Fix argument name on modify_files
  tests/system/fim/common_tasks/files_modify.py
Labels: fim-system-tests

#492 Unify arguments in alert verification scripts
  tests/system/fim/common_tasks/verify_alerts.yml
  tests/system/fim/common_tasks/verify_alerts_elasticsearch.py
  tests/system/fim/common_tasks/verify_alerts_json.py
Labels: fim-system-tests

#488 Unify parameters for files_generate
  tests/system/fim/common_tasks/files_configuration.json
  tests/system/fim/common_tasks/files_generator.py
Labels: fim-system-tests

#498 More dynamic and fault-tolerant behaviour for alerts.json verification
  tests/system/fim/common_tasks/verify_alerts_json.py
Labels: fim-system-tests

#501 invalid alerts.json characters handling
  tests/system/fim/common_tasks/verify_alerts_json.py
Labels: fim-system-tests

#509 Added changes on provisioning stages to allow Jenkins to use deploy playbooks
  tests/system/provisioning/ansible.cfg
  tests/system/provisioning/launch_environment.yml
  tests/system/provisioning/roles/aws/tasks/classify_hosts.yml
  tests/system/provisioning/roles/aws/tasks/configure_ssh.yml
  tests/system/provisioning/roles/aws/tasks/generate_environment_template.yml
  tests/system/provisioning/roles/aws/tasks/launch_template.yml
  tests/system/provisioning/roles/aws/templates/jenkins_environment_template.j2
  tests/system/provisioning/roles/aws/templates/parameters_template.j2
  tests/system/provisioning/roles/aws/tests/route53_records.yml
  tests/system/provisioning/roles/provisioning/tasks/post_installation.yml
  tests/system/provisioning/roles/provisioning/templates/provision_playbook.yml.j2
  tests/system/provisioning/setup_provisioning.yml
  tests/system/provisioning/vars/aws.yml
  tests/system/provisioning/vars/credentials.yml
  tests/system/provisioning/vars/elastic_nginx.yml
  tests/system/provisioning/vars/wazuh_manager.yml
Labels: cicd, enhancement

#530 Add extra parameters variable
  tests/system/fim/common_tasks/create_files.yml
  tests/system/fim/common_tasks/delete_files.yml
  tests/system/fim/common_tasks/modify_files.yml
  tests/system/fim/vars/main.yml
Labels: fim-system-tests

#536 Implement Scenario 204 - Whodata and auditd not installed
  tests/system/fim/scenarios/204_whodata_linux_noaudit/.gitignore
  tests/system/fim/scenarios/204_whodata_linux_noaudit/actions/files.yml
  tests/system/fim/scenarios/204_whodata_linux_noaudit/actions/folders.yml
  tests/system/fim/scenarios/204_whodata_linux_noaudit/config/agent_linux_ossec.conf
  tests/system/fim/scenarios/204_whodata_linux_noaudit/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/204_whodata_linux_noaudit/config/manager_ossec.conf
  tests/system/fim/scenarios/204_whodata_linux_noaudit/defaults/main.yml
  tests/system/fim/scenarios/204_whodata_linux_noaudit/launch_test_scenario.yml
  tests/system/fim/scenarios/204_whodata_linux_noaudit/tests/files_generated.txt
  tests/system/fim/scenarios/204_whodata_linux_noaudit/tests/tests.yml
Labels: fim-system-tests

#537 FIM System tests: 0203 Whodata Scenario
  tests/system/fim/common_tasks/verify_alerts_elasticsearch.py
  tests/system/fim/common_tasks/verify_alerts_json.py
  tests/system/fim/scenarios/203_whodata_frequency/actions/install_whodata.yml
  tests/system/fim/scenarios/203_whodata_frequency/config/agent_linux_ossec.conf
  tests/system/fim/scenarios/203_whodata_frequency/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/203_whodata_frequency/config/manager_ossec.conf
  tests/system/fim/scenarios/203_whodata_frequency/launch_test_scenario.yml
Labels: fim-system-tests

#543 FIM Scenarios config unification
  tests/system/fim/scenarios/203_whodata_frequency/config/agent_linux_ossec.conf
  tests/system/fim/scenarios/203_whodata_frequency/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/204_whodata_linux_noaudit/config/agent_linux_ossec.conf
  tests/system/fim/scenarios/204_whodata_linux_noaudit/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/205_restrict_option/config/agent_linux_ossec.conf
  tests/system/fim/scenarios/205_restrict_option/config/agent_windows_ossec.conf
Labels: fim-system-tests

#542 Add option to use extension list
  tests/system/fim/common_tasks/generate_files.py
Labels: fim-system-tests
