Repository wazuh/wazuh-qa, pull requests merged in 2020-07, with the labels that each got.

#800 Add Debian feed tests and refactor feed tests structure
  deps/wazuh_testing/wazuh_testing/tools/file.py
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/data/configuration/test_feeds/wazuh_download_providers_feeds.yaml
  tests/integration/test_vulnerability_detector/data/configuration/test_feeds/wazuh_invalid_canonical_feed.yaml
  tests/integration/test_vulnerability_detector/data/configuration/test_feeds/wazuh_invalid_debian_feed.yaml
  tests/integration/test_vulnerability_detector/data/configuration/test_feeds/wazuh_invalid_redhat_feed.yaml
  tests/integration/test_vulnerability_detector/data/configuration/test_feeds/wazuh_invalid_type_custom_feed.yaml
  tests/integration/test_vulnerability_detector/data/feeds/custom_canonical_oval_feed.xml
  tests/integration/test_vulnerability_detector/data/feeds/custom_debian_oval_feed.xml
  tests/integration/test_vulnerability_detector/data/feeds/custom_nvd_feed.json
  tests/integration/test_vulnerability_detector/data/feeds/custom_redhat_oval_feed.json
  tests/integration/test_vulnerability_detector/data/vulnerabilities/nvd_vulnerabilities_1.json
  tests/integration/test_vulnerability_detector/test_feeds/canonical/test_extra_tags_canonical_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/canonical/test_invalid_syntax_canonical_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/canonical/test_invalid_values_canonical_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/canonical/test_invalid_values_canonical_feeds.py
  tests/integration/test_vulnerability_detector/test_feeds/canonical/test_missing_fields_canonical_feeds.py
  tests/integration/test_vulnerability_detector/test_feeds/canonical/test_missing_tags_canonical_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/data/configuration/wazuh_invalid_redhat_feeds.yaml
  tests/integration/test_vulnerability_detector/test_feeds/debian/test_extra_tags_debian_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/debian/test_invalid_syntax_debian_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/debian/test_invalid_values_debian_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/debian/test_missing_tags_debian_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/redhat/test_extra_fields_redhat_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/redhat/test_invalid_syntax_redhat_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/redhat/test_invalid_values_redhat_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/redhat/test_missing_fields_redhat_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/test_download_feeds.py
  tests/integration/test_vulnerability_detector/test_feeds/test_invalid_type_custom_feeds.py
  tests/integration/test_vulnerability_detector/test_feeds/test_validate_feed_content.py
Labels: core/vuln detector

#731 Remove audit path from schema and event validators
  deps/wazuh_testing/wazuh_testing/data/syscheck_event.json
  deps/wazuh_testing/wazuh_testing/data/syscheck_event_windows.json
  deps/wazuh_testing/wazuh_testing/fim.py
Labels: core/fim

#733 Added a sleep in test_hard_link.oy to give it more consistency
  tests/integration/test_fim/test_checks/test_hard_link.py
Labels: core/fim

#809 Fix macOS prefix problem
  deps/wazuh_testing/wazuh_testing/tools/__init__.py
Labels: bug

#804 Add Windows indexing test
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/test_windows/data/cpe_indexing.yaml
  tests/integration/test_vulnerability_detector/test_windows/data/custom_nvd_feed.json
  tests/integration/test_vulnerability_detector/test_windows/test_cpe_indexing.py
Labels: core/vuln detector

#727 Remove xfail in quick_changes.py, except in windows
  tests/integration/test_fim/test_basic_usage/test_basic_usage_quick_changes.py
Labels: core/fim

#816 Logtest configuration test
  deps/wazuh_testing/wazuh_testing/logtest.py
  tests/integration/test_logtest/test_configuration/data/wazuh_conf.yaml
  tests/integration/test_logtest/test_configuration/test_configuration_file.py
  tests/integration/test_logtest/test_configuration/test_get_configuration_sock.py
Labels: core/logtest
