Repository wazuh/wazuh-qa, pull requests merged in 2020-09, with the labels that each got.

#851 Fixed logtest invalid socket input tests
  tests/integration/test_logtest/test_invalid_socket_input/data/invalid_socket_input.yaml
  tests/integration/test_logtest/test_invalid_socket_input/test_invalid_socket_input.py
Labels: core/logtest

#842 Set /var/ossec as default WAZUH_PATH
  deps/wazuh_testing/wazuh_testing/tools/__init__.py
Labels: bug

#856 Fix integrated tests
  tests/integration/test_api/test_config/test_experimental_features/test_experimental_features.py
  tests/integration/test_api/test_config/test_use_only_authd/test_use_only_authd.py
Labels: bug

#870 Updated NVD URLs feed
  tests/integration/test_vulnerability_detector/test_feeds/test_validate_feed_content.py
Labels: core/vuln detector
