Repository wazuh/wazuh-qa, pull requests merged in 2020-05, with the labels that each got.

#684 Add enabled integration test for vulnerability detector
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/test_enabled/data/wazuh_conf.yaml
  tests/integration/test_vulnerability_detector/test_enabled/test_enabled.py
Labels: core/vuln detector

#623 Remove Windows xfails from test_basic_usage_move_dir
  tests/integration/test_fim/test_basic_usage/test_basic_usage_move_dir.py
Labels: core/fim

#700 Create functions to modify vulnerability detector databases
  .github/pull_request_template.md
  deps/wazuh_testing/wazuh_testing/tools/__init__.py
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_fim/test_basic_usage/test_basic_usage_move_dir.py
Labels: core/vuln detector

#630 FIM integration test - Add new auditd fields
  deps/wazuh_testing/wazuh_testing/data/syscheck_event.json
  deps/wazuh_testing/wazuh_testing/fim.py
Labels: core/fim

#721 Add ignore_time parameter integration test
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/conftest.py
  tests/integration/test_vulnerability_detector/test_general_settings/data/wazuh_ignore_time.yaml
  tests/integration/test_vulnerability_detector/test_general_settings/test_general_settings_ignore_time.py
Labels: core/vuln detector

#730 Add nvd feeds
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/test_general_settings/data/wazuh_ignore_time.yaml
  tests/integration/test_vulnerability_detector/test_general_settings/test_general_settings_ignore_time.py
  tests/integration/test_vulnerability_detector/test_scan_results/data/nvd_feed.json
Labels: core/vuln detector

#741 Add vuln detector scan tests using OVAL and NVD feeds
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/test_general_settings/test_general_settings_ignore_time.py
  tests/integration/test_vulnerability_detector/test_scan_results/data/nvd_feed.json
  tests/integration/test_vulnerability_detector/test_scan_results/data/nvd_vulnerabilities_1.json
  tests/integration/test_vulnerability_detector/test_scan_results/data/nvd_vulnerabilities_2.json
  tests/integration/test_vulnerability_detector/test_scan_results/data/real_nvd_feed.json
  tests/integration/test_vulnerability_detector/test_scan_results/data/wazuh_provider_and_nvd_configuration.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/test_debian_inventory_debian_feeds.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_redhat_inventory_redhat_feeds.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_providers_and_nvd_feeds.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_ubuntu_inventory_canonical_feeds.py
Labels: automation, core/vuln detector
