Repository wazuh/wazuh-qa, pull requests merged in 2020-03, with the labels that each got.

#552 FIM System tests: Scenario 0206 Tag option
  tests/system/fim/common_tasks/verify_alerts.yml
  tests/system/fim/common_tasks/verify_alerts_elasticsearch.py
  tests/system/fim/common_tasks/verify_alerts_json.py
  tests/system/fim/scenarios/206_tag_option/.gitignore
  tests/system/fim/scenarios/206_tag_option/actions/files.yml
  tests/system/fim/scenarios/206_tag_option/actions/folders.yml
  tests/system/fim/scenarios/206_tag_option/config/agent_linux_ossec.conf
  tests/system/fim/scenarios/206_tag_option/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/206_tag_option/config/manager_ossec.conf
  tests/system/fim/scenarios/206_tag_option/defaults/main.yml
  tests/system/fim/scenarios/206_tag_option/launch_test_scenario.yml
  tests/system/fim/scenarios/206_tag_option/tests/files_generated.txt
  tests/system/fim/vars/main.yml
Labels: fim-system-tests

#559 FIM Test Scenario 0208: Use of ignore files
  tests/system/fim/common_tasks/prepare.yml
  tests/system/fim/common_tasks/verify_alerts_elasticsearch.py
  tests/system/fim/common_tasks/verify_missing_alerts_json.py
  tests/system/fim/scenarios/208_ignore_files/actions/create_ignored_files.yml
  tests/system/fim/scenarios/208_ignore_files/actions/delete_ignored_files.yml
  tests/system/fim/scenarios/208_ignore_files/actions/modify_ignored_files.yml
  tests/system/fim/scenarios/208_ignore_files/actions/verify_ignored_files.yml
  tests/system/fim/scenarios/208_ignore_files/config/agent_linux_ossec.conf
  tests/system/fim/scenarios/208_ignore_files/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/208_ignore_files/config/manager_ossec.conf
  tests/system/fim/scenarios/208_ignore_files/launch_test_scenario.yml
Labels: fim-system-tests

#549 FIM System tests: 0202 - Realtime monitoring
  tests/system/fim/common_tasks/delete_files.py
  tests/system/fim/common_tasks/generate_files.py
  tests/system/fim/common_tasks/modify_files.py
  tests/system/fim/common_tasks/prepare.yml
  tests/system/fim/common_tasks/verify_alerts.yml
  tests/system/fim/common_tasks/verify_alerts_elasticsearch.py
  tests/system/fim/common_tasks/verify_alerts_json.py
  tests/system/fim/scenarios/202_realtime_monitoring/.gitignore
  tests/system/fim/scenarios/202_realtime_monitoring/actions/files.yml
  tests/system/fim/scenarios/202_realtime_monitoring/actions/folders.yml
  tests/system/fim/scenarios/202_realtime_monitoring/config/agent_linux_ossec.conf
  tests/system/fim/scenarios/202_realtime_monitoring/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/202_realtime_monitoring/config/manager_ossec.conf
  tests/system/fim/scenarios/202_realtime_monitoring/defaults/main.yml
  tests/system/fim/scenarios/202_realtime_monitoring/launch_test_scenario.yml
  tests/system/fim/scenarios/202_realtime_monitoring/tests/files_generated.txt
Labels: fim-system-tests

#546 FIM System tests: Scenario 0207 report changes
  tests/system/fim/common_tasks/generate_files.py
  tests/system/fim/common_tasks/modify_files.py
  tests/system/fim/common_tasks/modify_files.yml
  tests/system/fim/common_tasks/verify_alerts_elasticsearch.py
  tests/system/fim/common_tasks/verify_alerts_json.py
  tests/system/fim/scenarios/201_default_configuration_frequency/actions/folders.yml
  tests/system/fim/scenarios/207_report_changes_frequency/.gitignore
  tests/system/fim/scenarios/207_report_changes_frequency/config/agent_linux_ossec.conf
  tests/system/fim/scenarios/207_report_changes_frequency/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/207_report_changes_frequency/config/manager_ossec.conf
  tests/system/fim/scenarios/207_report_changes_frequency/defaults/main.yml
  tests/system/fim/scenarios/207_report_changes_frequency/launch_test_scenario.yml
Labels: fim-system-tests

#565 FIM System tests: Scenario 204, Whodata absent switch to realtime
  tests/system/fim/common_tasks/prepare.yml
  tests/system/fim/scenarios/201_default_configuration_frequency/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/201_default_configuration_frequency/config/agent_linux_ossec_rpm.conf
  tests/system/fim/scenarios/203_whodata_frequency/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/203_whodata_frequency/config/agent_linux_ossec_rpm.conf
  tests/system/fim/scenarios/204_whodata_linux_noaudit/actions/files.yml
  tests/system/fim/scenarios/204_whodata_linux_noaudit/actions/folders.yml
  tests/system/fim/scenarios/204_whodata_linux_noaudit/actions/uninstall_audit.yml
  tests/system/fim/scenarios/204_whodata_linux_noaudit/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/204_whodata_linux_noaudit/config/agent_linux_ossec_rpm.conf
  tests/system/fim/scenarios/204_whodata_linux_noaudit/defaults/main.yml
  tests/system/fim/scenarios/204_whodata_linux_noaudit/launch_test_scenario.yml
  tests/system/fim/scenarios/204_whodata_linux_noaudit/tests/files_generated.txt
  tests/system/fim/scenarios/204_whodata_linux_noaudit/tests/tests.yml
  tests/system/fim/scenarios/205_restrict_option/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/205_restrict_option/config/agent_linux_ossec_rpm.conf
  tests/system/fim/vars/main.yml
Labels: fim-system-tests

#574 FIM System tests: 209 Recursion level
  tests/system/fim/common_tasks/verify_missing_alerts_json.py
  tests/system/fim/scenarios/209_recursion_level/actions/create_missing_files.yml
  tests/system/fim/scenarios/209_recursion_level/actions/delete_missing_files.yml
  tests/system/fim/scenarios/209_recursion_level/actions/modify_missing_files.yml
  tests/system/fim/scenarios/209_recursion_level/actions/verify_missing_files.yml
  tests/system/fim/scenarios/209_recursion_level/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/209_recursion_level/config/agent_linux_ossec_rpm.conf
  tests/system/fim/scenarios/209_recursion_level/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/209_recursion_level/config/manager_ossec.conf
  tests/system/fim/scenarios/209_recursion_level/files/files_configuration_missing_linux.json.j2
  tests/system/fim/scenarios/209_recursion_level/files/files_configuration_missing_windows.json.j2
  tests/system/fim/scenarios/209_recursion_level/launch_test_scenario.yml
  tests/system/fim/scenarios/209_recursion_level/vars/custom.yml
Labels: fim-system-tests

#578 FIM System tests: Winagents ossec.conf update
  tests/system/fim/scenarios/201_default_configuration_frequency/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/201_default_configuration_frequency/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/202_realtime_monitoring/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/202_realtime_monitoring/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/203_whodata_frequency/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/203_whodata_frequency/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/204_whodata_linux_noaudit/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/204_whodata_linux_noaudit/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/205_restrict_option/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/205_restrict_option/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/206_tag_option/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/206_tag_option/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/207_report_changes_frequency/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/207_report_changes_frequency/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/208_ignore_files/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/208_ignore_files/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/209_recursion_level/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/209_recursion_level/config/agent_windows_ossec.conf
  tests/system/fim/scenarios/212_realtime_scheduled_monitoring/config/agent_linux_ossec_deb.conf
  tests/system/fim/scenarios/212_realtime_scheduled_monitoring/config/agent_windows_ossec.conf
Labels: fim-system-tests

#580 Test if synchronization is disabled
  tests/integration/test_fim/test_synchronization/data/wazuh_conf.yaml
  tests/integration/test_fim/test_synchronization/data/wazuh_conf_integrity_scan.yaml
  tests/integration/test_fim/test_synchronization/data/wazuh_disabled_sync_conf.yaml
  tests/integration/test_fim/test_synchronization/data/wazuh_invalid_conf.yaml
  tests/integration/test_fim/test_synchronization/data/wazuh_response_conf.yaml
  tests/integration/test_fim/test_synchronization/test_invalid_sync_response.py
  tests/integration/test_fim/test_synchronization/test_response_timeout.py
  tests/integration/test_fim/test_synchronization/test_sync_disabled.py
  tests/integration/test_fim/test_synchronization/test_sync_interval.py
  tests/integration/test_fim/test_synchronization/test_synchronize_integrity_scan.py
Labels: automation, component/fim

#591 FIM System tests: Improvements for alerts verification scripts
  tests/system/fim/common_tasks/verify_alerts_elasticsearch.py
Labels: enhancement, fim-system-tests

#593 FIM System tests: Scenarios' Playbooks => actions batch size & verification scripts
  tests/system/fim/scenarios/201_default_configuration_frequency/launch_test_scenario.yml
  tests/system/fim/scenarios/202_realtime_monitoring/launch_test_scenario.yml
  tests/system/fim/scenarios/203_whodata_frequency/actions/install_whodata.yml
  tests/system/fim/scenarios/203_whodata_frequency/launch_test_scenario.yml
  tests/system/fim/scenarios/204_whodata_linux_noaudit/actions/uninstall_audit.yml
  tests/system/fim/scenarios/204_whodata_linux_noaudit/launch_test_scenario.yml
  tests/system/fim/scenarios/205_restrict_option/launch_test_scenario.yml
  tests/system/fim/scenarios/206_tag_option/launch_test_scenario.yml
  tests/system/fim/scenarios/207_report_changes_frequency/launch_test_scenario.yml
  tests/system/fim/scenarios/208_ignore_files/launch_test_scenario.yml
  tests/system/fim/scenarios/209_recursion_level/launch_test_scenario.yml
  tests/system/fim/scenarios/210_scheduled_scan/config/agent_linux_ossec_rpm.conf
  tests/system/fim/scenarios/210_scheduled_scan/launch_test_scenario.yml
  tests/system/fim/scenarios/212_realtime_scheduled_monitoring/launch_test_scenario.yml
Labels: fim-system-tests

#606 FIM System Tests: Improve verify scripts logging and generate global result files
  tests/system/fim/common_tasks/create_files.yml
  tests/system/fim/common_tasks/delete_files.yml
  tests/system/fim/common_tasks/generate_results.py
  tests/system/fim/common_tasks/modify_files.yml
  tests/system/fim/common_tasks/prepare.yml
  tests/system/fim/common_tasks/verify_alerts.yml
  tests/system/fim/common_tasks/verify_alerts_elasticsearch.py
  tests/system/fim/common_tasks/verify_alerts_json.py
  tests/system/fim/scenarios/201_default_configuration_frequency/launch_test_scenario.yml
  tests/system/fim/scenarios/202_realtime_monitoring/launch_test_scenario.yml
  tests/system/fim/scenarios/203_whodata_frequency/launch_test_scenario.yml
  tests/system/fim/scenarios/204_whodata_linux_noaudit/launch_test_scenario.yml
  tests/system/fim/scenarios/205_restrict_option/launch_test_scenario.yml
  tests/system/fim/scenarios/206_tag_option/launch_test_scenario.yml
  tests/system/fim/scenarios/207_report_changes_frequency/launch_test_scenario.yml
  tests/system/fim/scenarios/208_ignore_files/actions/create_ignored_files.yml
  tests/system/fim/scenarios/208_ignore_files/actions/delete_ignored_files.yml
  tests/system/fim/scenarios/208_ignore_files/actions/modify_ignored_files.yml
  tests/system/fim/scenarios/208_ignore_files/launch_test_scenario.yml
  tests/system/fim/scenarios/209_recursion_level/actions/create_missing_files.yml
  tests/system/fim/scenarios/209_recursion_level/actions/delete_missing_files.yml
  tests/system/fim/scenarios/209_recursion_level/actions/modify_missing_files.yml
  tests/system/fim/scenarios/209_recursion_level/launch_test_scenario.yml
  tests/system/fim/scenarios/210_scheduled_scan/launch_test_scenario.yml
  tests/system/fim/scenarios/212_realtime_scheduled_monitoring/launch_test_scenario.yml
  tests/system/fim/vars/main.yml
Labels: fim-system-tests

#612 Updating molecule references regarding ansible wazuh-agent role vars
  ansible/wazuh-ansible/molecule/default/playbook.yml
  ansible/wazuh-ansible/molecule/wazuh-agent/molecule.yml
  ansible/wazuh-ansible/molecule/wazuh-agent/playbook.yml
Labels: Ansible, molecule

#622 Remove Carriage Return character
  kitchen/wazuh-puppet/kitchen/test/conftest.py
Labels: bug

#631 Custom kitchen-docker gem to correctly remove Docker images
  kitchen/wazuh-puppet/Dockerfile
  kitchen/wazuh-puppet/kitchen/kitchen.yml
Labels: Kitchen, enhancement
