Repository wazuh/wazuh-qa, pull requests merged in 2021-06, with the labels that each got.

#1392 Add unnified logging system tests for macOS
  deps/wazuh_testing/wazuh_testing/data/sslmanager.cert
  deps/wazuh_testing/wazuh_testing/data/sslmanager.key
  deps/wazuh_testing/wazuh_testing/logcollector.py
  deps/wazuh_testing/wazuh_testing/tools/__init__.py
  deps/wazuh_testing/wazuh_testing/tools/macos_log/log_generator.swift
  deps/wazuh_testing/wazuh_testing/tools/remoted_sim.py
  deps/wazuh_testing/wazuh_testing/tools/services.py
  docs/tests/integration/test_logcollector/index.md
  docs/tests/integration/test_logcollector/test_macos/index.md
  docs/tests/integration/test_logcollector/test_macos/test_macos_format_basic.md
  mkdocs.yml
  tests/integration/test_logcollector/conftest.py
  tests/integration/test_logcollector/test_macos/data/wazuh_macos_format_basic.yaml
  tests/integration/test_logcollector/test_macos/test_macos_format_basic.py
  tests/system/test_cluster/test_integrity_sync/test_integrity_sync.py
Labels: core/logcollector, qa

#1406 [frontend] Added new selectors
  tests/frontend/test_kibana_app/cypress/integration/pageobjects/wazuh-menu/wazuh-menu.page.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/management/decoders/navigate-to-decoders.when.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/management/decoders/the-user-shou-id-see-the-message.then.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/management/decoders/the-user-should-see-the-decoders.then.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/management/rules/navigate-to-rules.when.js
Labels: frontend

#1391 Logcollector integration tests T1: Test internal options state_interval
  deps/wazuh_testing/wazuh_testing/logcollector.py
  deps/wazuh_testing/wazuh_testing/tools/services.py
  docs/tests/integration/test_logcollector/index.md
  docs/tests/integration/test_logcollector/test_options/index.md
  docs/tests/integration/test_logcollector/test_options/test_options_state_interval.md
  mkdocs.yml
  tests/integration/test_logcollector/test_options/test_options_state_interval.py
Labels: core/logcollector, qa

#1403 Logcollector integration tests T1: Only future events for macos format
  deps/wazuh_testing/setup.py
  deps/wazuh_testing/wazuh_testing/tools/__init__.py
  docs/tests/integration/setting_up_test_environment.md
  docs/tests/integration/test_logcollector/test_macos/index.md
  docs/tests/integration/test_logcollector/test_macos/test_macos_format_only_future_events.md
  docs/tests/integration/test_vulnerability_detector/test_feeds/archlinux/test_invalid_syntax_archlinux_feed.md
  docs/tests/integration/test_vulnerability_detector/test_feeds/archlinux/test_invalid_values_archlinux_feed.md
  mkdocs.yml
  tests/integration/test_logcollector/conftest.py
  tests/integration/test_logcollector/test_macos/data/wazuh_macos_format_only_future_events.yaml
  tests/integration/test_logcollector/test_macos/test_macos_format_basic.py
  tests/integration/test_logcollector/test_macos/test_macos_format_only_future_events.py
Labels: core/logcollector, qa

#1417 Update 4.1 branch to support the cluster performance test pipeline
  deps/wazuh_testing/setup.py
  deps/wazuh_testing/wazuh_testing/__init__.py
  deps/wazuh_testing/wazuh_testing/data/agent.conf
  deps/wazuh_testing/wazuh_testing/data/api_extra_load_template.yaml
  deps/wazuh_testing/wazuh_testing/data/api_kibana_template.yaml
  deps/wazuh_testing/wazuh_testing/data/api_simulator_config.yaml
  deps/wazuh_testing/wazuh_testing/data/keepalives.txt
  deps/wazuh_testing/wazuh_testing/data/mitre_event.json
  deps/wazuh_testing/wazuh_testing/data/sslmanager.cert
  deps/wazuh_testing/wazuh_testing/data/sslmanager.key
  deps/wazuh_testing/wazuh_testing/data/syscollector.py
  deps/wazuh_testing/wazuh_testing/data/winevt.py
  deps/wazuh_testing/wazuh_testing/scripts/__init__.py
  deps/wazuh_testing/wazuh_testing/scripts/data_visualizations.py
  deps/wazuh_testing/wazuh_testing/scripts/simulate_agents.py
  deps/wazuh_testing/wazuh_testing/scripts/simulate_api_load.py
  deps/wazuh_testing/wazuh_testing/scripts/wazuh_log_metrics.py
  deps/wazuh_testing/wazuh_testing/scripts/wazuh_metrics.py
  deps/wazuh_testing/wazuh_testing/scripts/wazuh_statistics.py
  deps/wazuh_testing/wazuh_testing/tools/__init__.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  deps/wazuh_testing/wazuh_testing/tools/api_simulator.py
  deps/wazuh_testing/wazuh_testing/tools/performance/__init__.py
  deps/wazuh_testing/wazuh_testing/tools/performance/binary.py
  deps/wazuh_testing/wazuh_testing/tools/performance/statistic.py
  deps/wazuh_testing/wazuh_testing/tools/performance/visualization.py
  deps/wazuh_testing/wazuh_testing/tools/utils.py
  requirements.txt
Labels: performance, qa

#1369 CVEs alerts inventory for Vulnerability Detector: min_full_scan_interval option
  deps/wazuh_testing/wazuh_testing/tools/time.py
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  docs/tests/integration/test_vulnerability_detector/index.md
  docs/tests/integration/test_vulnerability_detector/test_general_settings/index.md
  docs/tests/integration/test_vulnerability_detector/test_general_settings/test_general_settings_min_full_scan_interval.md
  mkdocs.yml
  tests/integration/test_vulnerability_detector/conftest.py
  tests/integration/test_vulnerability_detector/test_general_settings/data/wazuh_min_full_scan_interval.yaml
  tests/integration/test_vulnerability_detector/test_general_settings/test_general_settings_min_full_scan_interval.py
Labels: core/vuln detector, qa

#1428 CVEs alerts inventory for Vulnerability Detector: partial scan type
  deps/wazuh_testing/wazuh_testing/tools/__init__.py
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  docs/tests/integration/test_vulnerability_detector/index.md
  docs/tests/integration/test_vulnerability_detector/test_scan_types/index.md
  docs/tests/integration/test_vulnerability_detector/test_scan_types/test_partial_scan_type.md
  mkdocs.yml
  tests/integration/test_vulnerability_detector/data/feeds/custom_nvd_feed.json
  tests/integration/test_vulnerability_detector/test_scan_types/data/wazuh_partial_scan_type.yaml
  tests/integration/test_vulnerability_detector/test_scan_types/test_partial_scan_type.py
Labels: core/vuln detector, qa

#1434 Fix all the check_daemon_status usages
  tests/integration/conftest.py
  tests/integration/test_analysisd/test_all_syscheckd_configurations/yaml_generators/generate_linux_yaml.py
  tests/integration/test_analysisd/test_all_syscheckd_configurations/yaml_generators/generate_windows_yaml.py
  tests/integration/test_authd/test_authd_agents_ctx.py
  tests/integration/test_authd/test_authd_name_ip_pass.py
  tests/integration/test_authd/test_authd_ssl_certs.py
  tests/integration/test_authd/test_authd_ssl_options.py
  tests/integration/test_fim/test_files/test_stats_integrity_sync/test_FIM_performance.py
  tests/integration/test_logcollector/test_options/test_options_state_interval.py
Labels: type/bug

#1424 CVEs alerts inventory for Vulnerability Detector: baseline scan type
  docs/tests/integration/test_vulnerability_detector/index.md
  docs/tests/integration/test_vulnerability_detector/test_scan_types/index.md
  docs/tests/integration/test_vulnerability_detector/test_scan_types/test_baseline_scan_type.md
  mkdocs.yml
  tests/integration/test_vulnerability_detector/test_general_settings/test_general_settings_min_full_scan_interval.py
  tests/integration/test_vulnerability_detector/test_scan_types/data/wazuh_baseline_scan_type.yaml
  tests/integration/test_vulnerability_detector/test_scan_types/test_baseline_scan_type.py
Labels: core/vuln detector, qa

#1440 CVEs alerts inventory for Vulnerability Detector: full scan type
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  docs/tests/integration/test_vulnerability_detector/index.md
  docs/tests/integration/test_vulnerability_detector/test_scan_types/index.md
  docs/tests/integration/test_vulnerability_detector/test_scan_types/test_full_scan_type.md
  tests/integration/test_vulnerability_detector/test_scan_types/data/wazuh_full_scan_type.yaml
  tests/integration/test_vulnerability_detector/test_scan_types/test_full_scan_type.py
Labels: core/vuln detector, qa

#1430 Add new integration test for the API timeout setting
  docs/tests/integration/test_api/test_config/test_request_timeout/test_request_timeout.md
  tests/integration/test_api/test_config/test_request_timeout/data/conf.yaml
  tests/integration/test_api/test_config/test_request_timeout/test_request_timeout.py
Labels: api, integration-tests

#1439 Logcollector integration tests T1: Test deleted file doesn't appear in wazuh-logcollector.state
  deps/wazuh_testing/wazuh_testing/logcollector.py
  docs/tests/integration/test_logcollector/test_options/test_options_state_interval_no_file.md
  mkdocs.yml
  tests/integration/test_logcollector/test_options/data/configuration/wazuh_configuration.yaml
  tests/integration/test_logcollector/test_options/test_options_state_interval_no_file.py
Labels: core/logcollector, qa

#1436 CVEs alerts inventory for Vulnerability Detector: alert on vulnerability removal
  docs/tests/integration/test_vulnerability_detector/index.md
  docs/tests/integration/test_vulnerability_detector/test_scan_results/index.md
  docs/tests/integration/test_vulnerability_detector/test_scan_results/test_alert_vulnerability_removal.md
  tests/integration/test_vulnerability_detector/test_scan_results/data/wazuh_alert_vulnerability_removal.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/test_alert_vulnerability_removal.py
Labels: core/vuln detector, qa

#1371 Fix random time travel failures.
  deps/wazuh_testing/wazuh_testing/fim.py
Labels: core/fim

#1429 [frontend] add/remove sample data tests
  tests/frontend/test_kibana_app/cypress/integration/features/management/settings/sample-data.feature
  tests/frontend/test_kibana_app/cypress/integration/pageobjects/settings/sample-data.page.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/sample-data/add-remove-sample-data.when.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/sample-data/validate-sample-data-added.then.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/sample-data/validate-sample-data-removed.then.js
  tests/frontend/test_kibana_app/cypress/integration/utils/login-constants.js
  tests/frontend/test_kibana_app/cypress/integration/utils/sample-data-constants.js
Labels: frontend

#1454 Logcollector integration tests T0: Increase log_format logcollector tests coverage for ULS format
  deps/wazuh_testing/wazuh_testing/logcollector.py
  docs/tests/integration/test_logcollector/test_configuration/test_basic_configuration_log_format.md
  tests/integration/test_logcollector/test_configuration/data/wazuh_duplicated_macos_configuration.yaml
  tests/integration/test_logcollector/test_configuration/data/wazuh_no_defined_location_macos_configuration.yaml
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_log_format.py
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_query.py
Labels: core/logcollector, qa

#1451 Logcollector integration tests T1: Test query for macos log format
  deps/wazuh_testing/setup.py
  deps/wazuh_testing/wazuh_testing/logcollector.py
  deps/wazuh_testing/wazuh_testing/tools/macos_log/log_generator.m
  deps/wazuh_testing/wazuh_testing/tools/macos_log/log_generator.swift
  docs/tests/integration/test_logcollector/test_macos/index.md
  docs/tests/integration/test_logcollector/test_macos/test_macos_format_query.md
  mkdocs.yml
  tests/integration/test_logcollector/test_macos/data/wazuh_macos_format_query.yaml
  tests/integration/test_logcollector/test_macos/data/wazuh_macos_format_query_level.yaml
  tests/integration/test_logcollector/test_macos/data/wazuh_macos_format_query_type.yaml
  tests/integration/test_logcollector/test_macos/data/wazuh_macos_format_query_type_level.yaml
  tests/integration/test_logcollector/test_macos/test_macos_format_basic.py
  tests/integration/test_logcollector/test_macos/test_macos_format_query.py
Labels: qa

#1459 Bump requests dependency due to conflicts with urllib3
  requirements.txt
Labels: dependencies, qa

#1387 Add test to check the behavior of test_max_fd_win_rt option.
  docs/tests/integration/test_fim/test_files/test_inotify/test_max_fd_rt.md
  mkdocs.yml
  tests/integration/test_fim/test_files/test_inotify/data/wazuh_conf_max_fd.yaml
  tests/integration/test_fim/test_files/test_inotify/test_max_fd_rt.py
Labels: core/fim

#1427 [frontend] First modules test with data table example
  tests/frontend/test_kibana_app/cypress.env.json
  tests/frontend/test_kibana_app/cypress/integration/features/management/decoders/should-list-decoders-and-show-the-pager.feature
  tests/frontend/test_kibana_app/cypress/integration/features/management/rules/should-list-rules-and-show-the-pager.feature
  tests/frontend/test_kibana_app/cypress/integration/features/management/settings/api-configurations.feature
  tests/frontend/test_kibana_app/cypress/integration/features/management/settings/modules.feature
  tests/frontend/test_kibana_app/cypress/integration/features/management/settings/sample-data.feature
  tests/frontend/test_kibana_app/cypress/integration/pageobjects/modules-directory.page.js
  tests/frontend/test_kibana_app/cypress/integration/pageobjects/settings/modules.page.js
  tests/frontend/test_kibana_app/cypress/integration/pageobjects/wazuh-menu/wazuh-menu.page.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/login/login.given.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/management/decoders/the-user-press-button-custom-decoders.when.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/management/decoders/the-user-should-see-the-decoders.then.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/management/decoders/the-user-should-see-the-message.then.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/management/rules/navigate-to-rules.when.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/management/rules/the-user-should-see-the-rules.then.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/api-configuration/check-api-configuration-connection.when.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/modules/activate-the-modules.when.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/modules/validate-active-modules.then.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/modules/validate-deactivated-modules.then.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/navigate-to-settings.when.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/sample-data/add-remove-sample-data.when.js
  tests/frontend/test_kibana_app/cypress/integration/utils/driver.js
  tests/frontend/test_kibana_app/cypress/integration/utils/login-constants.js
  tests/frontend/test_kibana_app/cypress/integration/utils/mappers/modules-mapper.js
  tests/frontend/test_kibana_app/cypress/integration/utils/mappers/sample-data-mapper.js
  tests/frontend/test_kibana_app/cypress/integration/utils/mappers/settings-mapper.js
  tests/frontend/test_kibana_app/cypress/integration/utils/sample-data-constants.js
  tests/frontend/test_kibana_app/cypress/integration/utils/setting-constants.js
  tests/frontend/test_kibana_app/package.json
Labels: frontend

#1477 [frontend] adding settings tests for about, miscellaneous and logs
  tests/frontend/test_kibana_app/.gitignore
  tests/frontend/test_kibana_app/cypress/integration/features/management/settings/about.feature
  tests/frontend/test_kibana_app/cypress/integration/features/management/settings/api-configurations.feature
  tests/frontend/test_kibana_app/cypress/integration/features/management/settings/logs.feature
  tests/frontend/test_kibana_app/cypress/integration/features/management/settings/miscellaneous.feature
  tests/frontend/test_kibana_app/cypress/integration/features/management/settings/modules.feature
  tests/frontend/test_kibana_app/cypress/integration/features/management/settings/sample-data.feature
  tests/frontend/test_kibana_app/cypress/integration/pageobjects/settings/about.page.js
  tests/frontend/test_kibana_app/cypress/integration/pageobjects/settings/logs.page.js
  tests/frontend/test_kibana_app/cypress/integration/pageobjects/settings/miscellaneous.page.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/about/validate-information-displayed.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/api-configuration/add-new-api-configuration.when.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/logs/backend-reload-logs.then.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/logs/reload-logs.when.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/logs/validate-logs-displayed.then.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/miscellaneous/run-health-check.when.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/miscellaneous/validate-health-check-navigation.then.js
  tests/frontend/test_kibana_app/cypress/integration/step-definitions/settings/modules/validate-deactivated-modules.then.js
  tests/frontend/test_kibana_app/cypress/integration/utils/driver.js
  tests/frontend/test_kibana_app/cypress/integration/utils/health-check-constants.js
  tests/frontend/test_kibana_app/cypress/integration/utils/logs-constants.js
  tests/frontend/test_kibana_app/cypress/integration/utils/mappers/settings-mapper.js
Labels: team/frontend

#1460 Add tests for invalid config of github and office365 modules
  deps/wazuh_testing/wazuh_testing/github.py
  deps/wazuh_testing/wazuh_testing/office365.py
  docs/tests/integration/test_github/index.md
  docs/tests/integration/test_github/test_configuration/test_invalid.md
  docs/tests/integration/test_office365/index.md
  docs/tests/integration/test_office365/test_configuration/test_invalid.md
  tests/integration/test_github/conftest.py
  tests/integration/test_github/test_configuration/data/wazuh_conf.yaml
  tests/integration/test_github/test_configuration/test_invalid.py
  tests/integration/test_office365/conftest.py
  tests/integration/test_office365/test_configuration/data/wazuh_conf.yaml
  tests/integration/test_office365/test_configuration/test_invalid.py
Labels: feature/o365, status/on-revision
