Repository wazuh/wazuh-qa, pull requests merged in 2021-08, with the labels that each got.

#1665 Implement Mandatory and Optional fields functionality
  docs/DocGenerator/CodeParser.py
  docs/DocGenerator/Sanity.py
  docs/DocGenerator/Utils.py
  docs/DocGenerator/config.yaml
  tests/integration/test_wazuh_db/test_wazuh_db.py
Labels: type/docs

#1680 Exploratory testing fixes
  .gitignore
  docs/DocGenerator/CodeParser.py
  docs/DocGenerator/Config.py
  docs/DocGenerator/DocGenerator.py
  docs/DocGenerator/PytestWrap.py
  docs/DocGenerator/Sanity.py
  docs/DocGenerator/TestCaseParser.py
  docs/DocGenerator/Utils.py
  docs/DocGenerator/config.yaml
  tests/integration/test_wazuh_db/test_wazuh_db.py
Labels: type/docs

#1685 Exploratory testing fixes
  docs/DocGenerator/DocGenerator.py
  docs/DocGenerator/config.yaml
  docs/DocGenerator/lib/CodeParser.py
  docs/DocGenerator/lib/Config.py
  docs/DocGenerator/lib/PytestWrap.py
  docs/DocGenerator/lib/Sanity.py
  docs/DocGenerator/lib/Utils.py
  docs/DocGenerator/lib/__init__.py
  tests/integration/test_wazuh_db/README.md
  tests/integration/test_wazuh_db/test_wazuh_db.py
Labels: type/docs

#1686 DocGenerator documentation
  docs/DocGenerator/DocGenerator_diagram.png
  docs/DocGenerator/README.md
Labels: type/docs

#1500 Prevent pending agents from keepping their state indefinitely
  docs/tests/integration/test_remoted/test_agent_communication/test_agent_pending_status.md
  tests/integration/test_remoted/test_agent_communication/data/wazuh_agent_pending_status.yaml
  tests/integration/test_remoted/test_agent_communication/test_agent_pending_status.py
  tests/integration/test_remoted/test_agent_communication/test_request_agent_info.py
  tests/integration/test_wazuh_db/data/global_messages.yaml
Labels: status/blocked-int, team/core, type/enhancement, test/integration, feature/agentd

#1621 Full Yellow Local - Fix GCP tests in 4.2
  .gitignore
  deps/wazuh_testing/wazuh_testing/__init__.py
  deps/wazuh_testing/wazuh_testing/gcloud.py
  tests/integration/conftest.py
  tests/integration/test_gcloud/README.md
  tests/integration/test_gcloud/conftest.py
  tests/integration/test_gcloud/data/configuration_template.yaml
  tests/integration/test_gcloud/test_configuration/test_invalid.py
  tests/integration/test_gcloud/test_configuration/test_remote_configuration.py
  tests/integration/test_gcloud/test_configuration/test_schedule.py
  tests/integration/test_gcloud/test_functionality/data/gcp_events.txt
  tests/integration/test_gcloud/test_functionality/data/wazuh_conf.yaml
  tests/integration/test_gcloud/test_functionality/data/wazuh_schedule_conf.yaml
  tests/integration/test_gcloud/test_functionality/test_day_wday.py
  tests/integration/test_gcloud/test_functionality/test_interval.py
  tests/integration/test_gcloud/test_functionality/test_logging.py
  tests/integration/test_gcloud/test_functionality/test_max_messages.py
  tests/integration/test_gcloud/test_functionality/test_pull_on_start.py
  tests/integration/test_gcloud/test_functionality/test_rules.py
Labels: team/qa, feature/gcloud, type/fix

#1760 Fix QACTL docker deployment and provisioning
  deps/wazuh_testing/wazuh_testing/qa_ctl/deployment/dockerfiles/amazon/Dockerfile
  deps/wazuh_testing/wazuh_testing/qa_ctl/deployment/dockerfiles/amazon/entrypoint.sh
  deps/wazuh_testing/wazuh_testing/qa_ctl/deployment/dockerfiles/ubuntu/Dockerfile
  deps/wazuh_testing/wazuh_testing/qa_ctl/deployment/dockerfiles/ubuntu/entrypoint.sh
  deps/wazuh_testing/wazuh_testing/qa_ctl/provisioning/ansible/AnsibleInventory.py
Labels: team/qa, type/fix, tool/new-development

#1761 DocGenerator: Add UI integration changes
  docs/DocGenerator/DocGenerator.py
  docs/DocGenerator/Search-UI/.gitignore
  docs/DocGenerator/Search-UI/functions/search.js
  docs/DocGenerator/Search-UI/netlify.toml
  docs/DocGenerator/Search-UI/package-lock.json
  docs/DocGenerator/Search-UI/package.json
  docs/DocGenerator/Search-UI/public/Wazuh.png
  docs/DocGenerator/Search-UI/public/index.html
  docs/DocGenerator/Search-UI/public/manifest.json
  docs/DocGenerator/Search-UI/src/App.css
  docs/DocGenerator/Search-UI/src/App.js
  docs/DocGenerator/Search-UI/src/App.test.js
  docs/DocGenerator/Search-UI/src/applyDisjunctiveFaceting.js
  docs/DocGenerator/Search-UI/src/buildRequest.js
  docs/DocGenerator/Search-UI/src/buildRequestFilter.js
  docs/DocGenerator/Search-UI/src/buildState.js
  docs/DocGenerator/Search-UI/src/buildStateFacets.js
  docs/DocGenerator/Search-UI/src/index.css
  docs/DocGenerator/Search-UI/src/index.js
  docs/DocGenerator/Search-UI/src/runRequest.js
  docs/DocGenerator/Search-UI/src/serviceWorker.js
  docs/DocGenerator/lib/CodeParser.py
  docs/DocGenerator/lib/Config.py
  docs/DocGenerator/lib/IndexData.py
  docs/DocGenerator/lib/PytestWrap.py
  docs/DocGenerator/lib/Sanity.py
  docs/DocGenerator/lib/Utils.py
  docs/DocGenerator/requirements.txt
  tests/integration/test_vulnerability_detector/test_scan_results/test_redhat_inventory_redhat_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_providers_and_nvd_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_ubuntu_inventory_canonical_feed.py
  tests/integration/test_wazuh_db/test_wazuh_db.py
Labels: team/qa, type/docs, tool/new-development

#1762 DocGenerator: Add code to master branch
  .gitignore
  docs/DocGenerator/DocGenerator.py
  docs/DocGenerator/DocGenerator_diagram.png
  docs/DocGenerator/README.md
  docs/DocGenerator/Search-UI/.gitignore
  docs/DocGenerator/Search-UI/functions/search.js
  docs/DocGenerator/Search-UI/netlify.toml
  docs/DocGenerator/Search-UI/package-lock.json
  docs/DocGenerator/Search-UI/package.json
  docs/DocGenerator/Search-UI/public/Wazuh.png
  docs/DocGenerator/Search-UI/public/index.html
  docs/DocGenerator/Search-UI/public/manifest.json
  docs/DocGenerator/Search-UI/src/App.css
  docs/DocGenerator/Search-UI/src/App.js
  docs/DocGenerator/Search-UI/src/App.test.js
  docs/DocGenerator/Search-UI/src/applyDisjunctiveFaceting.js
  docs/DocGenerator/Search-UI/src/buildRequest.js
  docs/DocGenerator/Search-UI/src/buildRequestFilter.js
  docs/DocGenerator/Search-UI/src/buildState.js
  docs/DocGenerator/Search-UI/src/buildStateFacets.js
  docs/DocGenerator/Search-UI/src/index.css
  docs/DocGenerator/Search-UI/src/index.js
  docs/DocGenerator/Search-UI/src/runRequest.js
  docs/DocGenerator/Search-UI/src/serviceWorker.js
  docs/DocGenerator/config.yaml
  docs/DocGenerator/lib/CodeParser.py
  docs/DocGenerator/lib/Config.py
  docs/DocGenerator/lib/IndexData.py
  docs/DocGenerator/lib/PytestWrap.py
  docs/DocGenerator/lib/Sanity.py
  docs/DocGenerator/lib/Utils.py
  docs/DocGenerator/lib/__init__.py
  docs/DocGenerator/requirements.txt
  tests/integration/test_vulnerability_detector/test_scan_results/test_redhat_inventory_redhat_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_providers_and_nvd_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_ubuntu_inventory_canonical_feed.py
  tests/integration/test_wazuh_db/README.md
  tests/integration/test_wazuh_db/test_wazuh_db.py
Labels: team/qa, type/docs, tool/new-development

#1646 Fix test_prefilter_cmd_conf in scheduled mode
  tests/integration/test_fim/test_files/test_prefilter_cmd/test_prefilter_cmd_conf.py
Labels: team/qa, feature/fim, type/fix
