Repository wazuh/wazuh-qa, pull requests merged in 2021-05, with the labels that each got.

#1274 Add NVD feed for general settings tests in VDT
  tests/integration/test_vulnerability_detector/test_general_settings/data/feeds/custom_nvd_feed.json
Labels: core/vuln detector

#1273 Remove absolute path from AR tests
  tests/integration/test_active_response/test_execd/test_execd_firewall_drop.py
  tests/integration/test_active_response/test_execd/test_execd_restart.py
Labels: bug

#1220 Add archlinux integration tests for vulnerability detector
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  docs/tests/integration/test_vulnerability_detector/test_feeds/archlinux/test_extra_fields_archlinux_feed.md
  docs/tests/integration/test_vulnerability_detector/test_feeds/archlinux/test_invalid_syntax_archlinux_feed.md
  docs/tests/integration/test_vulnerability_detector/test_feeds/archlinux/test_invalid_values_archlinux_feed.md
  docs/tests/integration/test_vulnerability_detector/test_feeds/archlinux/test_missing_fields_archlinux_feed.md
  docs/tests/integration/test_vulnerability_detector/test_feeds/test_download_feed.md
  docs/tests/integration/test_vulnerability_detector/test_feeds/test_invalid_type_custom_feeds.md
  docs/tests/integration/test_vulnerability_detector/test_feeds/test_invalid_type_url_feeds.md
  docs/tests/integration/test_vulnerability_detector/test_feeds/test_validate_feed_content.md
  tests/integration/test_vulnerability_detector/data/configuration/test_feeds/wazuh_invalid_archlinux_feed.yaml
  tests/integration/test_vulnerability_detector/data/configuration/test_feeds/wazuh_invalid_type_custom_feed.yaml
  tests/integration/test_vulnerability_detector/data/feeds/custom_archlinux_feed.json
  tests/integration/test_vulnerability_detector/data/feeds/custom_archlinux_feed.json.bz2
  tests/integration/test_vulnerability_detector/data/feeds/custom_archlinux_feed.json.gz
  tests/integration/test_vulnerability_detector/test_feeds/archlinux/test_extra_tags_archlinux_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/archlinux/test_invalid_syntax_archlinux_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/archlinux/test_invalid_values_archlinux_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/archlinux/test_missing_tags_archlinux_feed.py
  tests/integration/test_vulnerability_detector/test_feeds/test_download_feeds.py
  tests/integration/test_vulnerability_detector/test_feeds/test_invalid_type_custom_feeds.py
  tests/integration/test_vulnerability_detector/test_feeds/test_invalid_type_url_feeds.py
  tests/integration/test_vulnerability_detector/test_feeds/test_validate_feed_content.py
  tests/integration/test_vulnerability_detector/test_providers/test_providers_enabled.py
  tests/integration/test_vulnerability_detector/test_providers/test_providers_no_os.py
  tests/integration/test_vulnerability_detector/test_providers/test_providers_update_interval.py
  tests/integration/test_vulnerability_detector/test_scan_results/data/custom_archlinux_feed.json
  tests/integration/test_vulnerability_detector/test_scan_results/data/wazuh_archlinux_inventory.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/test_archliux_inventory_archlinux_feed.py
Labels: core/vuln detector, type/enhancement

#1276 Add custom labels to the simulate agents script
  deps/wazuh_testing/wazuh_testing/scripts/simulate_agents.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
Labels: agent_simulator, type/enhancement

#1289 Add simulation time parameter to the simulate_api_load script
  deps/wazuh_testing/wazuh_testing/scripts/simulate_api_load.py
Labels: api, performance, qa

#1257 Logcollector integration tests T0: Check command monitoring
  deps/wazuh_testing/wazuh_testing/logcollector.py
  docs/tests/integration/test_logcollector/index.md
  docs/tests/integration/test_logcollector/test_command_monitoring/index.md
  docs/tests/integration/test_logcollector/test_command_monitoring/test_command_execution.md
  docs/tests/integration/test_logcollector/test_command_monitoring/test_command_execution_freq.md
  mkdocs.yml
  tests/integration/test_logcollector/conftest.py
  tests/integration/test_logcollector/test_command_monitoring/data/wazuh_command_conf.yaml
  tests/integration/test_logcollector/test_command_monitoring/test_command_execution.py
  tests/integration/test_logcollector/test_command_monitoring/test_command_execution_freq.py
Labels: core/logcollector, qa

#1293 Remove timeout parameter and add a new one to set the log path in API load simulator tool and script
  deps/wazuh_testing/wazuh_testing/scripts/simulate_api_load.py
  deps/wazuh_testing/wazuh_testing/tools/api_simulator.py
Labels: api, performance, qa

#1216 Add a new integration test to check the registry sync responses.
  deps/wazuh_testing/wazuh_testing/fim.py
  docs/tests/integration/test_fim/test_synchronization/test_registry_responses_win32.md
  mkdocs.yml
  tests/integration/test_fim/test_synchronization/data/wazuh_conf_registry_responses_win32.yaml
  tests/integration/test_fim/test_synchronization/test_registry_responses_win32.py
Labels: core/fim, core/fim/registry

#1298 Improve enrollment process in the agent_simulator
  deps/wazuh_testing/wazuh_testing/scripts/simulate_agents.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
Labels: agent_simulator, automation, type/bug

#1307 Improve the connectivity between manager and agents
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
Labels: agent_simulator

#1280 Fix API integration tests
  deps/wazuh_testing/wazuh_testing/api.py
  tests/integration/test_api/conftest.py
  tests/integration/test_api/test_config/test_bruteforce_blocking_system/test_bruteforce_blocking_system.py
  tests/integration/test_api/test_config/test_cors/test_cors.py
  tests/integration/test_api/test_config/test_use_only_authd/test_use_only_authd.py
  tests/integration/test_api/test_rbac/conftest.py
Labels: api, bug

#1296 Parse information from cluster.log and plot the results
  deps/wazuh_testing/setup.py
  deps/wazuh_testing/wazuh_testing/scripts/data_visualizations.py
  deps/wazuh_testing/wazuh_testing/scripts/wazuh_log_metrics.py
  deps/wazuh_testing/wazuh_testing/tools/performance/binary.py
  deps/wazuh_testing/wazuh_testing/tools/performance/visualization.py
Labels: cluster, enhancement, performance

#1301 Logcollector integration tests T0: Check location values
  deps/wazuh_testing/wazuh_testing/logcollector.py
  docs/tests/integration/test_logcollector/index.md
  docs/tests/integration/test_logcollector/test_location/index.md
  docs/tests/integration/test_logcollector/test_location/test_location.md
  docs/tests/integration/test_logcollector/test_location/test_location_exclude.md
  mkdocs.yml
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_location.py
  tests/integration/test_logcollector/test_location/data/configuration/wazuh_location.yaml
  tests/integration/test_logcollector/test_location/test_location.py
  tests/integration/test_logcollector/test_location/test_location_exclude.py
Labels: core/logcollector, qa

#1313 Logcollector integration tests T0: only-future-events option
  docs/tests/integration/test_logcollector/index.md
  docs/tests/integration/test_logcollector/test_only_future_events/test_only_future_events.md
  docs/tests/integration/test_vulnerability_detector/test_feeds/archlinux/test_extra_fields_archlinux_feed.md
  docs/tests/integration/test_vulnerability_detector/test_feeds/archlinux/test_invalid_syntax_archlinux_feed.md
  docs/tests/integration/test_vulnerability_detector/test_feeds/archlinux/test_invalid_values_archlinux_feed.md
  docs/tests/integration/test_vulnerability_detector/test_feeds/archlinux/test_missing_fields_archlinux_feed.md
  mkdocs.yml
  tests/integration/test_logcollector/test_only_future_events/data/wazuh_only_future_events_conf.yaml
  tests/integration/test_logcollector/test_only_future_events/test_only_future_events.py
Labels: core/logcollector, qa

#1262 Logcollector integration tests T0: age option
  deps/wazuh_testing/wazuh_testing/logcollector.py
  deps/wazuh_testing/wazuh_testing/tools/configuration.py
  docs/tests/integration/test_logcollector/index.md
  docs/tests/integration/test_logcollector/test_age/index.md
  docs/tests/integration/test_logcollector/test_age/test_age_basic.md
  docs/tests/integration/test_logcollector/test_age/test_age_changed_datetime.md
  mkdocs.yml
  tests/integration/conftest.py
  tests/integration/test_logcollector/test_age/data/wazuh_age.yaml
  tests/integration/test_logcollector/test_age/test_age_basic.py
  tests/integration/test_logcollector/test_age/test_age_datetime_changed.py
Labels: core/logcollector, qa

#1300 Logcollector integration tests T0: Check keep running
  deps/wazuh_testing/wazuh_testing/logcollector.py
  docs/tests/integration/test_logcollector/index.md
  docs/tests/integration/test_logcollector/test_keep_running/test_keep_running.md
  mkdocs.yml
  tests/integration/test_logcollector/test_keep_running/data/wazuh_keep_running_conf.yaml
  tests/integration/test_logcollector/test_keep_running/test_keep_running.py
  tests/integration/test_logcollector/test_only_future_events/test_only_future_events.py
Labels: core/logcollector, qa

#1321 Improve regex expression and log parsing function
  deps/wazuh_testing/wazuh_testing/scripts/simulate_agents.py
  deps/wazuh_testing/wazuh_testing/tools/performance/binary.py
  deps/wazuh_testing/wazuh_testing/tools/performance/visualization.py
Labels: agent_simulator, performance

#1322 Create common fixtures for logcollector tests
  deps/wazuh_testing/wazuh_testing/logcollector.py
  deps/wazuh_testing/wazuh_testing/tools/file.py
  tests/integration/conftest.py
  tests/integration/test_logcollector/test_age/test_age_basic.py
  tests/integration/test_logcollector/test_age/test_age_datetime_changed.py
  tests/integration/test_logcollector/test_keep_running/test_keep_running.py
  tests/integration/test_logcollector/test_location/test_location.py
  tests/integration/test_logcollector/test_location/test_location_exclude.py
  tests/integration/test_logcollector/test_only_future_events/test_only_future_events.py
Labels: qa, type/enhancement

#1327 Wazuh-db socket timeout validation
  deps/wazuh_testing/wazuh_testing/tools/monitoring.py
  tests/integration/test_wazuh_db/data/agent_messages.yaml
  tests/integration/test_wazuh_db/data/fim_messages.yaml
  tests/integration/test_wazuh_db/data/global_messages.yaml
  tests/integration/test_wazuh_db/test_wazuh_db.py
Labels: component/wazuhDB

#1347 Documentation for new tests and minor comment fixes
  docs/tests/integration/test_wazuh_db/test_wazuh_db.md
  tests/integration/test_wazuh_db/data/agent_messages.yaml
Labels: component/wazuhDB, type/documentation

#1345 [Fix] control_service doesn't manage Wazuh daemons correctly
  deps/wazuh_testing/wazuh_testing/tools/services.py
Labels: qa

#1348 Fix only future events tests
  tests/integration/test_logcollector/test_only_future_events/test_only_future_events.py
  tests/integration/test_logcollector/test_options/test_options_only_future_events.py
Labels: core/logcollector, qa

#1351 Fix wazuh-qa docs generation tool
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  docs/Dockerfile
  docs/deps/wazuh-testing/tools.md
  docs/provision_documentation.sh
  docs/run-documentation.sh
Labels: type/bug

#1349 [Fix_4.2] control_service doesn't manage Wazuh daemons correctly
  deps/wazuh_testing/wazuh_testing/tools/services.py
Labels: qa

#1338 Logcollector integration tests T1: Location with custom sockets
  deps/wazuh_testing/wazuh_testing/logcollector.py
  docs/Dockerfile
  docs/run-documentation.sh
  docs/tests/integration/test_logcollector/index.md
  docs/tests/integration/test_logcollector/test_location_custom_sockets/test_location_custom_sockets.md
  mkdocs.yml
  tests/integration/test_logcollector/test_location_custom_sockets/data/wazuh_location_custom_sockets_conf.yaml
  tests/integration/test_logcollector/test_location_custom_sockets/test_location_custom_sockets.py
Labels: core/logcollector, qa

#1290 Logcollector integration tests T0: Check log_format values
  deps/wazuh_testing/wazuh_testing/logcollector.py
  docs/tests/integration/test_logcollector/test_log_format/index.md
  docs/tests/integration/test_logcollector/test_log_format/test_log_format_values.md
  mkdocs.yml
  tests/integration/test_logcollector/test_log_format/data/wazuh_conf.yaml
  tests/integration/test_logcollector/test_log_format/test_log_format_values.py
Labels: qa, status/in-progress

#1336 Make the Vulnerability Detector module obtain the packages to be scaned in an atomic way - Integration tests implementation
  deps/wazuh_testing/wazuh_testing/tools/monitoring.py
  docs/tests/integration/test_wazuh_db/test_wazuh_db.md
  tests/integration/test_wazuh_db/data/agent_messages.yaml
  tests/integration/test_wazuh_db/data/fim_messages.yaml
  tests/integration/test_wazuh_db/data/global_messages.yaml
  tests/integration/test_wazuh_db/test_wazuh_db.py
Labels: component/wazuhDB

#1366 Parse API endpoints data from the log
  deps/wazuh_testing/wazuh_testing/scripts/data_visualizations.py
  deps/wazuh_testing/wazuh_testing/scripts/wazuh_log_metrics.py
  deps/wazuh_testing/wazuh_testing/tools/performance/binary.py
  deps/wazuh_testing/wazuh_testing/tools/performance/visualization.py
Labels: performance, type/enhancement

#1363 Get IO stats for each binary
  deps/wazuh_testing/wazuh_testing/tools/performance/binary.py
Labels: performance, type/enhancement

#1396 Fix MITRE tests for 4.2
  deps/wazuh_testing/wazuh_testing/data/mitre_event.json
  docs/tests/integration/test_analysisd/test_mitre/test_mitre_check_alert.md
  docs/tests/integration/test_authd/test_remote_enrollment.md
  tests/integration/test_analysisd/test_mitre/test_mitre_check_alert.py
Labels: core/analysisd, type/enhancement

#1328 Logcollector integration tests T0: Adapt logcollector integration tests for macOS
  deps/wazuh_testing/wazuh_testing/agent.py
  deps/wazuh_testing/wazuh_testing/api.py
  deps/wazuh_testing/wazuh_testing/execd.py
  deps/wazuh_testing/wazuh_testing/logcollector.py
  deps/wazuh_testing/wazuh_testing/remote.py
  deps/wazuh_testing/wazuh_testing/scripts/data_visualizations.py
  deps/wazuh_testing/wazuh_testing/scripts/simulate_api_load.py
  deps/wazuh_testing/wazuh_testing/tools/__init__.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  deps/wazuh_testing/wazuh_testing/tools/api_simulator.py
  deps/wazuh_testing/wazuh_testing/tools/configuration.py
  deps/wazuh_testing/wazuh_testing/tools/services.py
  deps/wazuh_testing/wazuh_testing/tools/sockets.py
  deps/wazuh_testing/wazuh_testing/tools/utils.py
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  deps/wazuh_testing/wazuh_testing/wazuh_db.py
  docs/deps/wazuh-testing/tools.md
  docs/tests/integration/test_logcollector/test_command_monitoring/test_command_execution.md
  tests/integration/conftest.py
  tests/integration/test_api/test_config/test_drop_privileges/test_drop_privileges.py
  tests/integration/test_api/test_config/test_logs/test_logs.py
  tests/integration/test_fim/test_files/test_audit/test_audit.py
  tests/integration/test_fim/test_files/test_audit/test_audit_after_initial_scan.py
  tests/integration/test_fim/test_files/test_audit/test_audit_no_dir.py
  tests/integration/test_fim/test_files/test_audit/test_remove_audit.py
  tests/integration/test_fim/test_files/test_audit/test_remove_rule_five_times.py
  tests/integration/test_fim/test_files/test_basic_usage/test_basic_usage_db_inode_check.py
  tests/integration/test_logcollector/conftest.py
  tests/integration/test_logcollector/test_age/test_age_basic.py
  tests/integration/test_logcollector/test_age/test_age_datetime_changed.py
  tests/integration/test_logcollector/test_command_monitoring/test_command_execution.py
  tests/integration/test_logcollector/test_command_monitoring/test_command_execution_freq.py
  tests/integration/test_logcollector/test_configuration/data/wazuh_basic_configuration.yaml
  tests/integration/test_logcollector/test_configuration/data/wazuh_basic_configuration_query_macos.yaml
  tests/integration/test_logcollector/test_configuration/data/wazuh_basic_configuration_query_windows.yaml
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_age.py
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_alias.py
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_command.py
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_exclude.py
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_frequency.py
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_ignore_binaries.py
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_label.py
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_location.py
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_log_format.py
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_only_future_events.py
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_out_format.py
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_query.py
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_reconnect_time.py
  tests/integration/test_logcollector/test_configuration/test_basic_configuration_target.py
  tests/integration/test_logcollector/test_keep_running/test_keep_running.py
  tests/integration/test_logcollector/test_location/test_location.py
  tests/integration/test_logcollector/test_location/test_location_exclude.py
  tests/integration/test_logcollector/test_location_custom_sockets/test_location_custom_sockets.py
  tests/integration/test_logcollector/test_log_format/test_log_format_values.py
  tests/integration/test_logcollector/test_only_future_events/test_only_future_events.py
  tests/integration/test_logcollector/test_reconnect_time/test_reconnect_time.py
  tests/system/test_cluster/test_agent_info_sync/test_agent_info_sync.py
Labels: core/logcollector, qa
