Repository wazuh/wazuh-qa, pull requests merged in 2021-02, with the labels that each got.

#1000 Added some cases in test_ignore_valid, to check entire disk ignore
  tests/integration/test_fim/test_files/test_ignore/data/wazuh_conf.yaml
  tests/integration/test_fim/test_files/test_ignore/data/wazuh_conf_win32.yaml
  tests/integration/test_fim/test_files/test_ignore/test_ignore_valid.py
Labels: core/fim

#1013 Deprecate ossec-init.conf
  .gitignore
  deps/wazuh_testing/wazuh_testing/tools/__init__.py
  deps/wazuh_testing/wazuh_testing/tools/monitoring.py
  deps/wazuh_testing/wazuh_testing/tools/services.py
  tests/integration/conftest.py
  tests/integration/test_api/test_config/test_rbac/data/schema_add_user.sql
  tests/integration/test_api/test_config/test_rbac/data/schema_delete_user.sql
  tests/integration/test_gcloud/test_configuration/test_remote_configuration.py
  tests/integration/test_logtest/test_rules_decoders_load/test_load_rules_decoders.py
  tests/integration/test_vulnerability_detector/test_providers/test_providers_multiple_providers.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_msu_inventory_msu_feed.py
  tests/integration/test_wpk/test_wpk_agent.py
  tests/integration/test_wpk/test_wpk_manager.py
  tests/legacy/test_sca/test_basic_usage/data/sca_directories_test_suite.yml
Labels: qa, type/enhancement

#1025 Add focal feed and improve vuln scan tests
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/test_scan_results/data/ubuntu_vulnerabilities.json
  tests/integration/test_vulnerability_detector/test_scan_results/test_debian_inventory_debian_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_macos_inventory.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_msu_inventory_msu_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_redhat_inventory_redhat_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_different_cves.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_nvd_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_providers_and_nvd_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_ubuntu_inventory_canonical_feed.py
Labels: core/vuln detector, qa

#1048 Add support to wodle sections for ossec.conf generator tool
  deps/wazuh_testing/wazuh_testing/tools/configuration.py
Labels: qa, testing-tools

#1029 Tests for Active Response
  deps/wazuh_testing/wazuh_testing/data/keepalives.txt
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  deps/wazuh_testing/wazuh_testing/tools/remoted_sim.py
  tests/integration/test_active_response/test_analysisd/data/wazuh_conf.yaml
  tests/integration/test_active_response/test_analysisd/test_os_exec.py
  tests/integration/test_active_response/test_execd/conftest.py
  tests/integration/test_active_response/test_execd/data/wazuh_conf.yaml
  tests/integration/test_active_response/test_execd/test_execd_firewall_drop.py
  tests/integration/test_active_response/test_execd/test_execd_restart.py
  tests/integration/test_agentd/test_agentd_enrollment_params.py
  tests/integration/test_agentd/test_agentd_multi_server.py
  tests/integration/test_agentd/test_agentd_reconnection.py
  tests/integration/test_wpk/test_wpk_agent.py
Labels: core/execd, qa/review

#1014 Added new cases to test_env_variables to check some possible errors
  tests/integration/test_fim/test_files/test_env_variables/test_dir.py
  tests/integration/test_fim/test_files/test_env_variables/test_ignore.py
  tests/integration/test_fim/test_files/test_env_variables/test_nodiff.py
Labels: qa/review, type/enhancement

#1052 Fix test_follow_symbolic_disabled.
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_follow_symbolic_disabled.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_symlink_to_dir_between_scans.py
Labels: core/fim

#1054 Add new functionality for mocking agents
  deps/wazuh_testing/wazuh_testing/tools/file.py
  deps/wazuh_testing/wazuh_testing/tools/services.py
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/conftest.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_macos_inventory.py
Labels: core/vuln detector, qa/review

#1056 Fix test_general_settings_ignore_time test
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/test_general_settings/data/wazuh_ignore_time.yaml
  tests/integration/test_vulnerability_detector/test_general_settings/test_general_settings_ignore_time.py
Labels: core/vuln detector

#963 Add test_max_fps for FIM.
  deps/wazuh_testing/wazuh_testing/fim.py
  tests/integration/test_fim/test_files/test_max_files_per_second/data/wazuh_conf.yaml
  tests/integration/test_fim/test_files/test_max_files_per_second/test_max_files_per_second.py
Labels: core/fim, qa/review

#1010 Added test to verify no duplicate entries
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/test_scan_results/data/custom_redhat_oval_feed.xml
  tests/integration/test_vulnerability_detector/test_scan_results/data/wazuh_redhat_duplicate_vulns.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/test_redhat_duplicate_vulns.py
Labels: qa/review

#1058 Update mock_vulnerability_scan fixture from vuln scan tests
  deps/wazuh_testing/wazuh_testing/tools/services.py
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_debian_inventory_debian_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_macos_inventory.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_msu_inventory_msu_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_redhat_inventory_redhat_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_different_cves.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_nvd_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_providers_and_nvd_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_ubuntu_inventory_canonical_feed.py
Labels: core/vuln detector

#1068 Improve stop/start behavior of DB's related functions
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_debian_inventory_debian_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_macos_inventory.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_msu_inventory_msu_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_redhat_duplicate_vulns.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_redhat_inventory_redhat_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_different_cves.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_nvd_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_providers_and_nvd_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_ubuntu_inventory_canonical_feed.py
Labels: qa, type/enhancement

#1067 Fix sqlite3.OperationalError: no such table: VULNERABILITIES error
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/conftest.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_debian_inventory_debian_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_macos_inventory.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_msu_inventory_msu_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_redhat_inventory_redhat_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_different_cves.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_nvd_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_providers_and_nvd_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_ubuntu_inventory_canonical_feed.py
  tests/integration/test_vulnerability_detector/test_windows/test_cpe_indexing.py
Labels: core/vuln detector

#1073 Add remoted integration tests: basic configuration tests
  deps/wazuh_testing/wazuh_testing/api.py
  deps/wazuh_testing/wazuh_testing/tools/monitoring.py
  docs/index.md
  docs/tests/integration/index.md
  docs/tests/integration/test_remoted/index.md
  docs/tests/integration/test_remoted/test_configuration/index.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration.md
  mkdocs.yml
  tests/integration/test_remoted/test_configuration/data/wazuh_basic_configuration.yaml
  tests/integration/test_remoted/test_configuration/test_basic_configuration.py
Labels: core/remoted

#1075 Fix msu tests for Windows 10
  tests/integration/test_vulnerability_detector/conftest.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_msu_inventory_msu_feed.py
Labels: core/vuln detector, type/bug

#1076 Agent simulator documentation
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  tests/integration/test_active_response/test_analysisd/test_os_exec.py
Labels: qa, testing-tools, type/documentation

#1078 Add a new test to check remoted's ping-pong messages
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  deps/wazuh_testing/wazuh_testing/tools/remoted_sim.py
  docs/tests/integration/test_remoted/index.md
  docs/tests/integration/test_remoted/test_configuration/index.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration.md
  docs/tests/integration/test_remoted/test_socket_communication/test_ping_pong_message.md
  mkdocs.yml
  tests/integration/test_remoted/conftest.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration.py
  tests/integration/test_remoted/test_socket_communication/data/wazuh_socket_communication.yaml
  tests/integration/test_remoted/test_socket_communication/test_ping_pong_message.py
Labels: core/remoted, type/enhancement

#1081 Add new checks for ping-pong messages using multiple protocols
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  docs/tests/integration/test_remoted/test_socket_communication/test_ping_pong_message.md
  tests/integration/test_remoted/test_socket_communication/test_ping_pong_message.py
Labels: core/remoted, type/enhancement

#1039 wazuh-agentd stats IT
  deps/wazuh_testing/wazuh_testing/agent.py
  deps/wazuh_testing/wazuh_testing/fim.py
  deps/wazuh_testing/wazuh_testing/tools/remoted_sim.py
  tests/integration/test_agentd/data/wazuh_conf.yaml
  tests/integration/test_agentd/data/wazuh_state_config_tests.yaml
  tests/integration/test_agentd/data/wazuh_state_tests.yaml
  tests/integration/test_agentd/test_agentd_state.py
  tests/integration/test_agentd/test_agentd_state_config.py
Labels: core/agent, qa/review

#1086 Add integration tests for syslog
  deps/wazuh_testing/wazuh_testing/remote.py
  deps/wazuh_testing/wazuh_testing/tools/__init__.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  deps/wazuh_testing/wazuh_testing/tools/monitoring.py
  deps/wazuh_testing/wazuh_testing/tools/remoted_sim.py
  deps/wazuh_testing/wazuh_testing/tools/security.py
  deps/wazuh_testing/wazuh_testing/tools/services.py
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration.md
  docs/tests/integration/test_remoted/test_socket_communication/test_ping_pong_message.md
  docs/tests/integration/test_remoted/test_socket_communication/test_syslog_message.md
  mkdocs.yml
  tests/integration/test_remoted/test_configuration/test_basic_configuration.py
  tests/integration/test_remoted/test_socket_communication/data/wazuh_syslog.yaml
  tests/integration/test_remoted/test_socket_communication/test_ping_pong_message.py
  tests/integration/test_remoted/test_socket_communication/test_syslog_message.py
Labels: core/remoted, qa/review, type/enhancement

#1080 Changed test_execd yaml due to an error in AR configuration, added do…
  docs/tests/integration/test_active_response/test_execd/test_execd_firewall_drop.md
  docs/tests/integration/test_active_response/test_execd/test_execd_restart.md
  tests/integration/test_active_response/test_execd/data/wazuh_conf.yaml
  tests/integration/test_active_response/test_execd/test_execd_firewall_drop.py
  tests/integration/test_active_response/test_execd/test_execd_restart.py
Labels: qa/review

#1089 Add agent connection protocol test for remoted tier 0
  deps/wazuh_testing/wazuh_testing/remote.py
  deps/wazuh_testing/wazuh_testing/tools/__init__.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  deps/wazuh_testing/wazuh_testing/tools/file.py
  deps/wazuh_testing/wazuh_testing/tools/monitoring.py
  deps/wazuh_testing/wazuh_testing/tools/thread_executor.py
  tests/integration/test_remoted/test_socket_communication/data/wazuh_agent_connection_protocols.yaml
  tests/integration/test_remoted/test_socket_communication/test_agent_connection_protocols.py
Labels: core/remoted, qa
