Repository wazuh/wazuh-qa, pull requests merged in 2021-01, with the labels that each got.

#998 Add new test case for duplicate registry entries.
  tests/integration/test_fim/test_registry/test_registry_ambiguous_confs/data/wazuh_duplicated_entries.yaml
  tests/integration/test_fim/test_registry/test_registry_ambiguous_confs/test_registry_ambiguous_duplicated_entries.py
Labels: core/fim, core/fim/registry

#984 Replace restart wazuh by restart syscheckd in fim tests.
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_change_target.py
Labels: core/fim

#1002 QA Integration tests estabilization - Epic implementation
  deps/wazuh_testing/wazuh_testing/data/keepalives.txt
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  tests/integration/README.md
  tests/integration/conftest.py
  tests/integration/test_api/test_config/test_behind_proxy_server/test_behind_proxy_server.py
  tests/integration/test_authd/test_authd_agents_ctx.py
  tests/integration/test_cluster/test_key_polling/test_key_polling_master.py
  tests/integration/test_cluster/test_key_polling/test_key_polling_worker.py
  tests/integration/test_gcloud/test_configuration/test_remote_configuration.py
  tests/integration/test_gcloud/test_functioning/test_rules.py
  tests/integration/test_wpk/conftest.py
  tests/integration/test_wpk/test_wpk_agent.py
  tests/integration/test_wpk/test_wpk_manager.py
  tests/integration/test_wpk/test_wpk_manager_task_states.py
  tests/legacy/test_sca/README.md
  tests/legacy/test_sca/test_basic_usage/data/sca_commands_test_suite.yml
  tests/legacy/test_sca/test_basic_usage/data/sca_compare_test_suite.yml
  tests/legacy/test_sca/test_basic_usage/data/sca_condition_test_suite.yml
  tests/legacy/test_sca/test_basic_usage/data/sca_directories_test_suite.yml
  tests/legacy/test_sca/test_basic_usage/data/sca_files_test_suite.yml
  tests/legacy/test_sca/test_basic_usage/data/sca_negation_test_suite.yml
  tests/legacy/test_sca/test_basic_usage/data/sca_processes_test_suite.yml
  tests/legacy/test_sca/test_basic_usage/data/sca_repeated_global_ids_1.yml
  tests/legacy/test_sca/test_basic_usage/data/sca_repeated_global_ids_2.yml
  tests/legacy/test_sca/test_basic_usage/data/sca_repeated_local_ids.yml
  tests/legacy/test_sca/test_basic_usage/data/sca_win_registry_test_suite.yml
  tests/legacy/test_sca/test_basic_usage/data/set_linux_config_to_compliance.sh
  tests/system/test_cluster/test_agent_key_polling/test_agent_key_polling.py
Labels: enhancement
