Repository wazuh/wazuh-qa, pull requests merged in 2021-04, with the labels that each got.

#1143 Remoted integration tests T2: Several checks manager-agent communication
  deps/wazuh_testing/wazuh_testing/remote.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  deps/wazuh_testing/wazuh_testing/tools/sockets.py
  docs/deps/wazuh-testing/tools.md
  docs/tests/integration/test_remoted/test_agent_communication/test_agent_version_shared_configuration_startup_message.md
  mkdocs.yml
  tests/integration/test_remoted/test_agent_communication/data/wazuh_agent_version_shared_configuration_startup_message.yaml
  tests/integration/test_remoted/test_agent_communication/test_agent_version_shared_configuration_startup_message.py
  tests/integration/test_remoted/test_agent_communication/test_shared_configuration.py
Labels: core/remoted

#1196 Fixed size for all agent simulator module messages
  deps/wazuh_testing/wazuh_testing/scripts/simulate_agents.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
Labels: agent_simulator

#1201 Fix Rootcheck agent simulator module
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
Labels: agent_simulator

#1208 Refactor the test_os_exec.pyt test
  tests/integration/test_active_response/test_analysisd/test_os_exec.py
Labels: type/maintenance

#1215 Remove cluster configuration for authd test
  tests/integration/test_authd/data/wazuh_conf.yaml
  tests/integration/test_authd/test_authd.py
Labels: type/bug

#1209 Revised and implemented new test cases for Wazuh DB commands
  tests/integration/test_wazuh_db/data/agent_messages.yaml
Labels: core/vuln detector, enhancement

#1218 Fix malformed messages in winevt module of agent simulator
  deps/wazuh_testing/wazuh_testing/data/winevt.py
Labels: agent_simulator

#1222 Fix control_service for wazuh-clusterd and wazuh-apid
  deps/wazuh_testing/wazuh_testing/tools/services.py
Labels: type/bug

#1223 Removed every cluster configuration block except in worker configuration
  tests/integration/test_authd/data/wazuh_conf.yaml
Labels: type/bug

#1147 Fixed yaml in test_basic_usage to set module of conf2 property
  tests/integration/test_fim/test_files/test_basic_usage/data/wazuh_conf.yaml
Labels: core/fim

#1228 Add a new dynamic color palette for the data visualization
  deps/wazuh_testing/wazuh_testing/tools/performance/visualization.py
Labels: performance, type/bug

#1231 Avoid duplicated scan's IDs in the agent simulator
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
Labels: agent_simulator, bug

#1233 Add to the agent simulator the ability to register the agent in a different manager than the connection
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
Labels: agent_simulator, type/enhancement

#1214 Add API performance tests
  tests/performance/test_api/README.md
  tests/performance/test_api/conftest.py
  tests/performance/test_api/data/configuration.yaml
  tests/performance/test_api/test_api.py
Labels: api, performance, type/enhancement

#1237 Fix outdated system tests
  tests/system/test_jwt_invalidation/conftest.py
Labels: framework/api, system-tests, type/maintenance

#1239 Send syscollector events with a constant throughput
  deps/wazuh_testing/wazuh_testing/scripts/simulate_agents.py
Labels: type/enhancement

#1244 Add registration-address parameter to agent simulator tool and script
  deps/wazuh_testing/wazuh_testing/scripts/simulate_agents.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
Labels: agent_simulator, type/enhancement

#1235 Remove unneeded conftest imports and add documentation in test_execd and test_agentd
  deps/wazuh_testing/wazuh_testing/agent.py
  deps/wazuh_testing/wazuh_testing/execd.py
  docs/tests/integration/index.md
  docs/tests/integration/test_active_response/index.md
  docs/tests/integration/test_active_response/test_execd/index.md
  docs/tests/integration/test_active_response/test_execd/test_execd_firewall_drop.md
  docs/tests/integration/test_active_response/test_execd/test_execd_restart.md
  docs/tests/integration/test_agentd/index.md
  docs/tests/integration/test_agentd/test_agent_auth_enrollment.md
  docs/tests/integration/test_agentd/test_agentd_enrollment_params.md
  docs/tests/integration/test_agentd/test_agentd_multi_server.md
  docs/tests/integration/test_agentd/test_agentd_parametrized_reconnections.md
  docs/tests/integration/test_agentd/test_agentd_reconnection.md
  tests/integration/test_active_response/test_execd/conftest.py
  tests/integration/test_active_response/test_execd/test_execd_firewall_drop.py
  tests/integration/test_active_response/test_execd/test_execd_restart.py
  tests/integration/test_agentd/conftest.py
  tests/integration/test_agentd/test_agent_auth_enrollment.py
  tests/integration/test_agentd/test_agentd_enrollment_params.py
  tests/integration/test_agentd/test_agentd_multi_server.py
  tests/integration/test_agentd/test_agentd_parametrized_reconnections.py
  tests/integration/test_agentd/test_agentd_reconnection.py
  tests/integration/test_agentd/test_agentd_state.py
Labels: qa, type/bug

#1253 Retry enrollment process in case of error
  deps/wazuh_testing/wazuh_testing/scripts/simulate_agents.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
Labels: agent_simulator, performance

#1254 Update Python dependencies for API performance test
  requirements.txt
  tests/performance/test_api/conftest.py
Labels: performance, type/enhancement

#1256 Bump pyyaml and numpy version
  docs/tests/integration/help.md
  docs/tests/integration/test_gcloud/index.md
  requirements.txt
  tests/integration/README.md
  tests/integration/test_gcloud/README.md
  tests/system/requirements.txt
  tests/system/test_jwt_invalidation/requirements.txt
Labels: type/maintenance
