Repository wazuh/wazuh-qa, pull requests merged in 2021-07, with the labels that each got.

#1603 Replacing custom NVD feed because vulnerabilities are not being inserted
  tests/integration/test_vulnerability_detector/test_general_settings/data/feeds/custom_nvd_feed.json
Labels: feature/vuln-detector, team/qa, type/fix

#1604 Increasing timeout for vulnerability detector tests that require many files downloads
  deps/wazuh_testing/wazuh_testing/vulnerability_detector.py
  tests/integration/test_vulnerability_detector/test_providers/test_providers_multiple_providers.py
Labels: feature/vuln-detector, team/qa, type/fix

#1581 Full Yellow Local - Fix Agent simulator Rootcheck class in 4.2
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
Labels: team/qa, tool/agent-simulator, type/fix

#1619 Add Config to DocGenerator
  docs/DocGenerator/Config.py
  docs/DocGenerator/config.yaml
Labels: type/docs

#1607 Disabling unused modules to improve stability of the vulnerability detector module integration tests
  tests/integration/test_vulnerability_detector/data/configuration/test_feeds/wazuh_download_providers_feeds.yaml
  tests/integration/test_vulnerability_detector/data/configuration/test_feeds/wazuh_invalid_canonical_feed.yaml
  tests/integration/test_vulnerability_detector/data/configuration/test_feeds/wazuh_invalid_debian_feed.yaml
  tests/integration/test_vulnerability_detector/data/configuration/test_feeds/wazuh_invalid_msu_feed.yaml
  tests/integration/test_vulnerability_detector/data/configuration/test_feeds/wazuh_invalid_redhat_feed.yaml
  tests/integration/test_vulnerability_detector/data/configuration/test_feeds/wazuh_invalid_type_custom_feed.yaml
  tests/integration/test_vulnerability_detector/test_general_settings/data/wazuh_enabled.yaml
  tests/integration/test_vulnerability_detector/test_general_settings/data/wazuh_ignore_time.yaml
  tests/integration/test_vulnerability_detector/test_general_settings/data/wazuh_interval.yaml
  tests/integration/test_vulnerability_detector/test_general_settings/data/wazuh_run_on_start.yaml
  tests/integration/test_vulnerability_detector/test_providers/data/wazuh_providers_enabled.yaml
  tests/integration/test_vulnerability_detector/test_providers/data/wazuh_providers_multiple_providers.yaml
  tests/integration/test_vulnerability_detector/test_providers/data/wazuh_providers_os.yaml
  tests/integration/test_vulnerability_detector/test_providers/data/wazuh_providers_update_from_year.yaml
  tests/integration/test_vulnerability_detector/test_providers/data/wazuh_providers_update_interval.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/data/wazuh_debian_inventory.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/data/wazuh_different_cves.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/data/wazuh_macos_inventory.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/data/wazuh_msu_inventory.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/data/wazuh_nvd_configuration.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/data/wazuh_provider_and_nvd_configuration.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/data/wazuh_redhat_duplicate_vulns.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/data/wazuh_redhat_inventory.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/data/wazuh_ubuntu_inventory.yaml
  tests/integration/test_vulnerability_detector/test_windows/data/cpe_indexing.yaml
Labels: feature/vuln-detector, team/qa, type/fix

#1623 Implement the DocGenerator main module and test search
  docs/DocGenerator/CodeParser.py
  docs/DocGenerator/Config.py
  docs/DocGenerator/DocGenerator.py
  docs/DocGenerator/config.yaml
Labels: type/docs

#1649 Implement a sanity check module for DocGenerator
  docs/DocGenerator/CodeParser.py
  docs/DocGenerator/Config.py
  docs/DocGenerator/Sanity.py
  docs/DocGenerator/config.yaml
Labels: type/docs
