Repository wazuh/wazuh-qa, pull requests merged in 2021-09, with the labels that each got.

#1827 Migrate `test_agentd` documentation to QA Docs
  docs/DocGenerator/config.yaml
  tests/integration/test_agentd/test_agent_auth_enrollment.py
  tests/integration/test_agentd/test_agentd_enrollment_params.py
  tests/integration/test_agentd/test_agentd_multi_server.py
  tests/integration/test_agentd/test_agentd_parametrized_reconnections.py
  tests/integration/test_agentd/test_agentd_reconnection.py
  tests/integration/test_agentd/test_agentd_state.py
  tests/integration/test_agentd/test_agentd_state_config.py
Labels: type/docs, subteam/qa-docs

#1830 Migrate `test_active_response` documentation to QA Docs
  docs/DocGenerator/config.yaml
  tests/integration/test_active_response/test_analysisd/test_os_exec.py
  tests/integration/test_active_response/test_execd/test_execd_firewall_drop.py
  tests/integration/test_active_response/test_execd/test_execd_restart.py
Labels: team/qa, subteam/qa-docs

#1828 Add a new method for obtaining S3 packages
  deps/wazuh_testing/wazuh_testing/data/qactl_conf_validator_schema.json
  deps/wazuh_testing/wazuh_testing/qa_ctl/provisioning/qa_provisioning.py
  deps/wazuh_testing/wazuh_testing/qa_ctl/provisioning/wazuh_deployment/wazuh_s3_package.py
  deps/wazuh_testing/wazuh_testing/tools/s3_package.py
Labels: team/qa, type/enhancement, tool/qactl, subteam/qactl

#1834 Migrate `test_analysisd` documentation to QA Docs
  docs/DocGenerator/config.yaml
  tests/integration/test_analysisd/test_all_syscheckd_configurations/test_check_rare_socket_responses.py
  tests/integration/test_analysisd/test_all_syscheckd_configurations/test_check_socket_responses.py
  tests/integration/test_analysisd/test_all_syscheckd_configurations/test_validate_linux_analysisd_alerts.py
  tests/integration/test_analysisd/test_all_syscheckd_configurations/test_validate_rare_analysisd_alerts.py
  tests/integration/test_analysisd/test_all_syscheckd_configurations/test_validate_win32_analysisd_alerts.py
  tests/integration/test_analysisd/test_all_syscheckd_configurations/test_validate_win32_analysisd_registry_alerts.py
  tests/integration/test_analysisd/test_error_messages/test_error_messages.py
  tests/integration/test_analysisd/test_event_messages/test_event_messages.py
  tests/integration/test_analysisd/test_integrity_messages/test_integrity_messages.py
  tests/integration/test_analysisd/test_mitre/test_mitre_check_alert.py
  tests/integration/test_analysisd/test_scan_messages/test_scan_messages.py
Labels: team/qa, subteam/qa-docs

#1837 Add documentation for the config_generator.py file
  deps/wazuh_testing/wazuh_testing/qa_ctl/configuration/config_generator.py
Labels: team/qa, type/docs, tool/qactl, subteam/qactl

#1792 Adding integration tests for authd (cluster scenario) when the agent sends a key hash
  tests/integration/conftest.py
  tests/integration/test_authd/data/authd_key_hash.yaml
  tests/integration/test_authd/data/local_enroll_messages.yaml
  tests/integration/test_authd/data/password_tests.yaml
  tests/integration/test_authd/data/test_authd_force_options.yaml
  tests/integration/test_authd/data/worker_messages.yaml
  tests/integration/test_authd/test_authd_force_options.py
  tests/integration/test_authd/test_authd_local.py
  tests/integration/test_authd/test_authd_worker.py
Labels: feature/authd

#1844 Few test examples to test QADOCS
  deps/wazuh_testing/wazuh_testing/qa_docs/config.yaml
  tests/integration/test_active_response/test_execd/test_execd_firewall_drop.py
  tests/integration/test_active_response/test_execd/test_execd_restart.py
  tests/integration/test_api/test_config/test_cache/test_cache.py
  tests/integration/test_api/test_config/test_cors/test_cors.py
Labels: team/qa, subteam/qa-docs

#1854 Integrate QADOCS into wazuh-qa framework
  .gitignore
  deps/wazuh_testing/setup.py
  deps/wazuh_testing/wazuh_testing/qa_docs/DocGenerator_diagram.png
  deps/wazuh_testing/wazuh_testing/qa_docs/README.md
  deps/wazuh_testing/wazuh_testing/qa_docs/__init__.py
  deps/wazuh_testing/wazuh_testing/qa_docs/config.yaml
  deps/wazuh_testing/wazuh_testing/qa_docs/doc_generator.py
  deps/wazuh_testing/wazuh_testing/qa_docs/lib/__init__.py
  deps/wazuh_testing/wazuh_testing/qa_docs/lib/code_parser.py
  deps/wazuh_testing/wazuh_testing/qa_docs/lib/config.py
  deps/wazuh_testing/wazuh_testing/qa_docs/lib/index_data.py
  deps/wazuh_testing/wazuh_testing/qa_docs/lib/pytest_wrap.py
  deps/wazuh_testing/wazuh_testing/qa_docs/lib/sanity.py
  deps/wazuh_testing/wazuh_testing/qa_docs/lib/utils.py
  deps/wazuh_testing/wazuh_testing/qa_docs/requirements.txt
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/.gitignore
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/functions/search.js
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/netlify.toml
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/package.json
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/public/Wazuh.png
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/public/index.html
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/public/manifest.json
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/src/App.css
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/src/App.js
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/src/App.test.js
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/src/applyDisjunctiveFaceting.js
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/src/buildRequest.js
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/src/buildRequestFilter.js
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/src/buildState.js
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/src/buildStateFacets.js
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/src/index.css
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/src/index.js
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/src/runRequest.js
  deps/wazuh_testing/wazuh_testing/qa_docs/search_ui/src/serviceWorker.js
  deps/wazuh_testing/wazuh_testing/scripts/qa_docs.py
  docs/DocGenerator/Search-UI/package-lock.json
  docs/DocGenerator/config.yaml
  tests/integration/test_active_response/test_execd/test_execd_firewall_drop.py
  tests/integration/test_active_response/test_execd/test_execd_restart.py
  tests/integration/test_api/test_config/test_cache/test_cache.py
  tests/integration/test_api/test_config/test_cors/test_cors.py
  tests/integration/test_vulnerability_detector/test_general_settings/test_general_settings_enabled.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_nvd_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_providers_and_nvd_feed.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_ubuntu_inventory_canonical_feed.py
  tests/integration/test_wazuh_db/test_wazuh_db.py
Labels: team/qa, type/rework, type/enhancement, subteam/qa-docs

#1878 Migrate `test_api` documentation to QA Docs
  docs/DocGenerator/config.yaml
  tests/integration/test_api/test_config/test_DOS_blocking_system/test_DOS_blocking_system.py
  tests/integration/test_api/test_config/test_bruteforce_blocking_system/test_bruteforce_blocking_system.py
  tests/integration/test_api/test_config/test_cache/test_cache.py
  tests/integration/test_api/test_config/test_cors/test_cors.py
  tests/integration/test_api/test_config/test_drop_privileges/test_drop_privileges.py
  tests/integration/test_api/test_config/test_experimental_features/test_experimental_features.py
  tests/integration/test_api/test_config/test_host_port/test_host_port.py
  tests/integration/test_api/test_config/test_https/test_https.py
  tests/integration/test_api/test_config/test_jwt_token_exp_timeout/test_jwt_token_exp_timeout.py
  tests/integration/test_api/test_config/test_logs/test_logs.py
  tests/integration/test_api/test_config/test_rbac/test_rbac_mode.py
  tests/integration/test_api/test_config/test_request_timeout/test_request_timeout.py
  tests/integration/test_api/test_config/test_use_only_authd/test_use_only_authd.py
  tests/integration/test_api/test_rbac/test_add_old_resource.py
  tests/integration/test_api/test_rbac/test_admin_resources.py
  tests/integration/test_api/test_rbac/test_policy_position.py
  tests/integration/test_api/test_rbac/test_remove_relationship.py
  tests/integration/test_api/test_rbac/test_remove_resource.py
Labels: team/qa, tool/qadocs

#1882 Migrate `test_active_response` documentation to QA Docs
  docs/DocGenerator/config.yaml
  tests/integration/test_active_response/test_analysisd/test_os_exec.py
  tests/integration/test_active_response/test_execd/test_execd_firewall_drop.py
  tests/integration/test_active_response/test_execd/test_execd_restart.py
Labels: team/qa, subteam/qa-docs

#1893 Fix cached dependencies, typos and debian repos in 4.2
  tests/system/provisioning/agentless_cluster/roles/master-role/tasks/main.yml
  tests/system/provisioning/agentless_cluster/roles/worker-role/tasks/main.yml
  tests/system/provisioning/basic_cluster/roles/agent-role/tasks/main.yml
  tests/system/provisioning/basic_cluster/roles/master-role/tasks/main.yml
  tests/system/provisioning/basic_cluster/roles/worker-role/tasks/main.yml
  tests/system/provisioning/enrollment_cluster/roles/agent-role/tasks/main.yml
  tests/system/provisioning/enrollment_cluster/roles/master-role/tasks/main.yml
  tests/system/provisioning/enrollment_cluster/roles/worker-role/tasks/main.yml
Labels: team/qa, subteam/it-dev

#1894 Migrate `test_agentd` documentation to `qa-docs`
  docs/DocGenerator/config.yaml
  tests/integration/test_agentd/test_agent_auth_enrollment.py
  tests/integration/test_agentd/test_agentd_enrollment_params.py
  tests/integration/test_agentd/test_agentd_multi_server.py
  tests/integration/test_agentd/test_agentd_parametrized_reconnections.py
  tests/integration/test_agentd/test_agentd_reconnection.py
  tests/integration/test_agentd/test_agentd_state.py
  tests/integration/test_agentd/test_agentd_state_config.py
Labels: team/qa, subteam/qa-docs

#1587 ITs for logtest verbose mode added
  deps/wazuh_testing/wazuh_testing/tools/__init__.py
  docs/tests/integration/test_logtest/test_log_process_options/test_rules_verbose.md
  tests/integration/test_logtest/test_log_process_options/data/rules_verbose.xml
  tests/integration/test_logtest/test_log_process_options/data/rules_verbose.yaml
  tests/integration/test_logtest/test_log_process_options/test_rules_verbose.py
Labels: team/core, test/integration, feature/logtest, feature/analysisd

#1932 Disable fim test invalid unstable results
  tests/integration/test_fim/test_files/test_invalid/data/wazuh_conf.yaml
  tests/integration/test_fim/test_files/test_invalid/test_invalid.py
Labels: feature/fim

#1934 Disable unused Wazuh Modules for test_max_files_per_second test
  tests/integration/test_fim/test_files/test_max_files_per_second/data/wazuh_conf.yaml
  tests/integration/test_fim/test_files/test_max_files_per_second/test_max_files_per_second.py
Labels: type/fix

#1929 Fix test_ignore_valid.py - Add timeout variable
  tests/integration/test_fim/test_files/test_ignore/data/wazuh_conf_win32.yaml
  tests/integration/test_fim/test_files/test_ignore/data/wazuh_conf_win32_ignore_registry.yaml
  tests/integration/test_fim/test_files/test_ignore/test_ignore_valid.py
Labels: type/fix
