Repository wazuh/wazuh-qa, pull requests merged in 2021-03, with the labels that each got.

#1097 Update test agent communication protocols
  deps/wazuh_testing/wazuh_testing/remote.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  deps/wazuh_testing/wazuh_testing/tools/thread_executor.py
  docs/run-documentation.sh
  docs/tests/integration/test_remoted/test_agent_communication/test_protocols_communication.md
  docs/tests/integration/test_remoted/test_agent_communication/test_request_agent_info.md
  mkdocs.yml
  tests/integration/test_remoted/test_agent_communication/data/wazuh_protocols_communication.yaml
  tests/integration/test_remoted/test_agent_communication/data/wazuh_request_agent_info.yaml
  tests/integration/test_remoted/test_agent_communication/test_protocols_communication.py
  tests/integration/test_remoted/test_agent_communication/test_request_agent_info.py
Labels: core/remoted, qa

#1101 Update validation method of protocols communication test
  deps/wazuh_testing/wazuh_testing/remote.py
  docs/tests/integration/test_remoted/test_agent_communication/test_protocols_communication.md
  tests/integration/test_remoted/test_agent_communication/test_protocols_communication.py
Labels: core/remoted, qa

#1100 Added remote basic configuration documentation
  deps/wazuh_testing/wazuh_testing/remote.py
  docs/deps/wazuh-testing/tools.md
  docs/deps/wazuh-testing/wazuh_testing.md
  docs/stylesheets/logo.css
  docs/tests/integration/test_remoted/test_configuration/index.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_connection_invalid_connection.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_connection_invalid_port.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_connection_invalid_protocol.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_connection_valid.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_ipv6.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_local_ip_invalid.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_local_ip_valid.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_queue_size_syslog.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_queue_size_too_big.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_queue_size_valid.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_rids_closing_time_invalid.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_rids_closing_time_valid.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_syslog_allowed_denied_ips_valid.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_syslog_allowed_ips_invalid.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_syslog_denied_ips.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_syslog_denied_ips_invalid.md
  docs/tests/integration/test_remoted/test_configuration/test_basic_configuration_syslog_no_allowed_ips.md
  docs/tests/integration/test_remoted/test_socket_communication/test_ping_pong_message.md
  docs/tests/integration/test_remoted/test_socket_communication/test_syslog_message.md
  mkdocs.yml
  tests/integration/test_remoted/test_configuration/test_basic_configuration_connection_invalid_connection.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_connection_invalid_port.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_connection_invalid_protocol.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_connection_valid.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_ipv6.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_local_ip_invalid.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_local_ip_valid.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_queue_size_syslog.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_queue_size_too_big.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_queue_size_valid.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_rids_closing_time_invalid.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_rids_closing_time_valid.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_syslog_allowed_denied_ips_valid.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_syslog_allowed_ips_invalid.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_syslog_denied_ips.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_syslog_denied_ips_invalid.py
  tests/integration/test_remoted/test_configuration/test_basic_configuration_syslog_no_allowed_ips.py
Labels: core/remoted, qa, type/documentation

#1107 Add new tests for syslog messages containing PRI headers
  deps/wazuh_testing/wazuh_testing/remote.py
  deps/wazuh_testing/wazuh_testing/tools/monitoring.py
  docs/tests/integration/test_remoted/test_socket_communication/test_syslog_message.md
  tests/integration/test_remoted/test_socket_communication/test_syslog_message.py
Labels: core/remoted, type/enhancement

#1109 Remoted integration tests T1: Add test manager ACK
  deps/wazuh_testing/wazuh_testing/__init__.py
  deps/wazuh_testing/wazuh_testing/remote.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  deps/wazuh_testing/wazuh_testing/tools/monitoring.py
  docs/tests/integration/test_remoted/test_manager_messages/test_manager_ack.md
  mkdocs.yml
  tests/integration/test_remoted/test_manager_messages/data/wazuh_manager_ack.yaml
  tests/integration/test_remoted/test_manager_messages/test_manager_ack.py
Labels: core/remoted, qa

#1111 Updating IT for duplicated entry in agent's vulnerable software DB
  tests/integration/test_wazuh_db/data/agent_messages.yaml
Labels: component/wazuhDB, core/vuln detector, type/enhancement

#997 Add new test to check if the audit rule is removed after a symlink is updated
  deps/wazuh_testing/wazuh_testing/fim.py
  docs/tests/integration/test_fim/test_files/test_audit/test_audit.md
  docs/tests/integration/test_fim/test_files/test_audit/test_audit_after_initial_scan.md
  docs/tests/integration/test_fim/test_files/test_audit/test_audit_no_dir.md
  docs/tests/integration/test_fim/test_files/test_audit/test_remove_audit.md
  docs/tests/integration/test_fim/test_files/test_audit/test_remove_rule_five_times.md
  docs/tests/integration/test_fim/test_files/test_follow_symbolic_link/test_audit_rules_removed_after_change_link.md
  docs/tests/integration/test_fim/test_files/test_follow_symbolic_link/test_change_target.md
  docs/tests/integration/test_fim/test_files/test_follow_symbolic_link/test_change_target_inside_folder.md
  docs/tests/integration/test_fim/test_files/test_follow_symbolic_link/test_change_target_with_nested_directory.md
  docs/tests/integration/test_fim/test_files/test_follow_symbolic_link/test_delete_symlink.md
  docs/tests/integration/test_fim/test_files/test_follow_symbolic_link/test_delete_target.md
  docs/tests/integration/test_fim/test_files/test_follow_symbolic_link/test_follow_symbolic_disabled.md
  docs/tests/integration/test_fim/test_files/test_follow_symbolic_link/test_monitor_symlink.md
  docs/tests/integration/test_fim/test_files/test_follow_symbolic_link/test_not_following_symbolic_link.md
  docs/tests/integration/test_fim/test_files/test_follow_symbolic_link/test_revert_symlink.md
  docs/tests/integration/test_fim/test_files/test_follow_symbolic_link/test_symlink_and_dir.md
  docs/tests/integration/test_fim/test_files/test_follow_symbolic_link/test_symlink_dir_inside_monitored_dir.md
  docs/tests/integration/test_fim/test_files/test_follow_symbolic_link/test_symlink_to_dir_between_scans.md
  docs/tests/integration/test_fim/test_files/test_follow_symbolic_link/test_symlink_within_dir.md
  mkdocs.yml
  tests/integration/test_fim/test_files/test_audit/test_audit.py
  tests/integration/test_fim/test_files/test_audit/test_audit_after_initial_scan.py
  tests/integration/test_fim/test_files/test_audit/test_audit_no_dir.py
  tests/integration/test_fim/test_files/test_audit/test_remove_audit.py
  tests/integration/test_fim/test_files/test_audit/test_remove_rule_five_times.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/common.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/data/wazuh_conf.yaml
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_audit_rules_removed_after_change_link.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_change_target.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_change_target_inside_folder.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_change_target_with_nested_directory.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_delete_symlink.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_delete_target.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_follow_symbolic_disabled.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_monitor_symlink.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_not_following_symbolic_link.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_revert_symlink.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_symlink_and_dir.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_symlink_dir_inside_monitored_dir.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_symlink_to_dir_between_scans.py
  tests/integration/test_fim/test_files/test_follow_symbolic_link/test_symlink_within_dir.py
Labels: core/fim, qa/review

#1117 Updating Wazuh-DB IT documentation with agent's CVE table commands
  docs/index.md
  docs/tests/integration/index.md
  docs/tests/integration/test_wazuh_db/index.md
  docs/tests/integration/test_wazuh_db/test_wazuh_db.md
Labels: type/documentation

#1065 Remove behind_proxy_server API tests.
  CHANGELOG.md
  tests/integration/test_api/test_config/test_behind_proxy_server/data/conf.yaml
  tests/integration/test_api/test_config/test_behind_proxy_server/test_behind_proxy_server.py
Labels: framework/api, qa/review

#1115 Remoted integration tests T1: centralized configuration push
  deps/wazuh_testing/setup.py
  deps/wazuh_testing/wazuh_testing/agent.py
  deps/wazuh_testing/wazuh_testing/data/agent.conf
  deps/wazuh_testing/wazuh_testing/remote.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  deps/wazuh_testing/wazuh_testing/tools/monitoring.py
  deps/wazuh_testing/wazuh_testing/tools/remoted_sim.py
  deps/wazuh_testing/wazuh_testing/tools/sockets.py
  deps/wazuh_testing/wazuh_testing/tools/utils.py
  docs/tests/integration/test_remoted/test_agent_communication/images/shared_configuration.png
  docs/tests/integration/test_remoted/test_agent_communication/test_request_agent_info.md
  docs/tests/integration/test_remoted/test_agent_communication/test_shared_configuration.md
  mkdocs.yml
  tests/integration/test_remoted/conftest.py
  tests/integration/test_remoted/test_agent_communication/data/wazuh_shared_configuration.yaml
  tests/integration/test_remoted/test_agent_communication/test_request_agent_info.py
  tests/integration/test_remoted/test_agent_communication/test_shared_configuration.py
Labels: core/remoted

#1099 Fix random failures in test_max_files_per_second.
  deps/wazuh_testing/wazuh_testing/__init__.py
  docs/tests/integration/test_fim/test_files/test_max_files_per_second/index.md
  docs/tests/integration/test_fim/test_files/test_max_files_per_second/test_max_files_per_second.md
  mkdocs.yml
  tests/integration/conftest.py
  tests/integration/test_fim/test_files/test_max_files_per_second/test_max_files_per_second.py
Labels: core/fim, qa/review

#1118 Remoted integration tests T1: active response send
  .github/ISSUE_TEMPLATE/test--deprecate-internal.md
  .github/ISSUE_TEMPLATE/test--fim.md
  .github/ISSUE_TEMPLATE/test--vuln-detector.md
  deps/wazuh_testing/wazuh_testing/cluster.py
  deps/wazuh_testing/wazuh_testing/remote.py
  deps/wazuh_testing/wazuh_testing/tools/__init__.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  deps/wazuh_testing/wazuh_testing/tools/sockets.py
  deps/wazuh_testing/wazuh_testing/wazuh_db.py
  docs/tests/integration/test_remoted/test_active_response/test_active_response_ar_sending.md
  docs/tests/integration/test_vulnerability_detector/test_feeds/redhat/test_extra_fields_redhat_feed.md
  docs/tests/integration/test_vulnerability_detector/test_general_settings/test_general_settings_enabled.md
  docs/tests/integration/test_vulnerability_detector/test_general_settings/test_general_settings_ignore_time.md
  mkdocs.yml
  tests/integration/test_cluster/test_key_polling/test_key_polling_master.py
  tests/integration/test_cluster/test_key_polling/test_key_polling_worker.py
  tests/integration/test_fim/test_files/test_checks/test_check_others.py
  tests/integration/test_fim/test_files/test_checks/test_checksums.py
  tests/integration/test_fim/test_registry/test_registry_checks/test_registry_check_others.py
  tests/integration/test_remoted/test_active_response/data/wazuh_test_active_response.yaml
  tests/integration/test_remoted/test_active_response/test_active_response_send_ar.py
Labels: core/remoted

#1127 Remoted integration tests T2: Connect several agents with different protocols at once
  deps/wazuh_testing/wazuh_testing/remote.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  docs/tests/integration/test_remoted/test_agent_communication/test_multi_agent_protocols_communication.md
  docs/tests/integration/test_remoted/test_agent_communication/test_multi_agent_status.md
  mkdocs.yml
  tests/integration/test_remoted/test_agent_communication/data/wazuh_multi_agent_protocols_communication.yaml
  tests/integration/test_remoted/test_agent_communication/data/wazuh_multi_agent_status.yaml
  tests/integration/test_remoted/test_agent_communication/test_multi_agent_protocols_communication.py
  tests/integration/test_remoted/test_agent_communication/test_multi_agent_status.py
Labels: core/remoted, qa

#1124 Create requirements file and update python dependencies
  deps/wazuh_testing/setup.py
  docs/Dockerfile
  docs/requirements.txt
  docs/tests/integration/setting_up_test_environment.md
  requirements.txt
Labels: dependencies, type/documentation

#1140 Add invalid protocol communication test
  deps/wazuh_testing/wazuh_testing/remote.py
  docs/tests/integration/test_remoted/test_agent_communication/test_invalid_protocol_communication.md
  mkdocs.yml
  tests/integration/test_remoted/test_agent_communication/data/wazuh_invalid_protocol_communication.yaml
  tests/integration/test_remoted/test_agent_communication/test_invalid_protocol_communication.py
Labels: core/remoted, qa

#1112 Add the capability to know which CVE’s affect an agent - Integration Tests changes
  docs/index.md
  docs/tests/integration/index.md
  docs/tests/integration/test_wazuh_db/index.md
  docs/tests/integration/test_wazuh_db/test_wazuh_db.md
  tests/integration/test_wazuh_db/data/agent_messages.yaml
Labels: component/wazuhDB

#1129 Add a new test to check if agents can reconnect after switching their protocols.
  deps/wazuh_testing/wazuh_testing/remote.py
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  docs/tests/integration/test_remoted/test_agent_communication/test_agents_switching_protocols.md
  docs/tests/integration/test_remoted/test_agent_communication/test_shared_configuration.md
  mkdocs.yml
  tests/integration/test_remoted/test_agent_communication/data/wazuh_agents_reconnection.yaml
  tests/integration/test_remoted/test_agent_communication/test_agents_switching_protocols.py
  tests/integration/test_remoted/test_agent_communication/test_request_agent_info.py
  tests/integration/test_remoted/test_agent_communication/test_shared_configuration.py
Labels: type/enhancement

#1149 Add grpcio, cryptography and bump jq version
  requirements.txt
Labels: python, qa

#1160 Bump Python's dependencies for the repository
  requirements.txt
Labels: qa/review, type/enhancement

#1166 Dynamic syscollector event generator for agent simulator
  deps/wazuh_testing/wazuh_testing/tools/agent_simulator.py
  deps/wazuh_testing/wazuh_testing/tools/syscollector.py
Labels: agent_simulator

#1182 Add API simulator script and related tools
  deps/wazuh_testing/setup.py
  deps/wazuh_testing/wazuh_testing/scripts/simulate_api_load.py
  deps/wazuh_testing/wazuh_testing/tools/api_simulator.py
Labels: performance, type/enhancement
