Repository wazuh/wazuh-qa, pull requests merged in 2023-09, with the labels that each got.

#4491 Update ITs URL for Debian OVAL
  tests/integration/test_vulnerability_detector/test_feeds/data/test_cases/cases_validate_xml_feed_content.yaml
Labels: feature/vuln-detector, type/change

#4443 Update known flaws files
  CHANGELOG.md
  tests/scans/code_analysis/known_flaws/known_flaws_framework.json
Labels: feature/framework

#4496 Update ITs URL for SUSE OVAL
  tests/integration/test_vulnerability_detector/test_feeds/data/test_cases/cases_validate_xml_feed_content.yaml
Labels: test/integration, feature/vuln-detector

#4482 Vulnerability Detector integration tests for Amazon Linux 2023
  CHANGELOG.md
  deps/wazuh_testing/wazuh_testing/mocking/__init__.py
  deps/wazuh_testing/wazuh_testing/modules/vulnerability_detector/__init__.py
  deps/wazuh_testing/wazuh_testing/qa_docs/schema.yaml
  tests/integration/test_vulnerability_detector/data/feeds/alas/custom_alas_2023_feed.json
  tests/integration/test_vulnerability_detector/test_feeds/data/configuration_template/configuration_import_invalid_feed_type.yaml
  tests/integration/test_vulnerability_detector/test_feeds/data/test_cases/cases_download_feeds.yaml
  tests/integration/test_vulnerability_detector/test_feeds/data/test_cases/cases_duplicate_feeds.yaml
  tests/integration/test_vulnerability_detector/test_feeds/data/test_cases/cases_import_invalid_feed_type.yaml
  tests/integration/test_vulnerability_detector/test_feeds/data/test_cases/cases_validate_json_feed_content.yaml
  tests/integration/test_vulnerability_detector/test_feeds/test_cpe_indexing.py
  tests/integration/test_vulnerability_detector/test_feeds/test_download_feeds.py
  tests/integration/test_vulnerability_detector/test_feeds/test_duplicate_feeds.py
  tests/integration/test_vulnerability_detector/test_feeds/test_import_invalid_feed_type.py
  tests/integration/test_vulnerability_detector/test_feeds/test_msu_inventory.py
  tests/integration/test_vulnerability_detector/test_feeds/test_validate_feed_content.py
  tests/integration/test_vulnerability_detector/test_providers/data/test_cases/cases_disabled.yaml
  tests/integration/test_vulnerability_detector/test_providers/data/test_cases/cases_enabled.yaml
  tests/integration/test_vulnerability_detector/test_providers/data/test_cases/cases_os.yaml
  tests/integration/test_vulnerability_detector/test_providers/data/test_cases/cases_update_interval.yaml
  tests/integration/test_vulnerability_detector/test_providers/test_enabled.py
  tests/integration/test_vulnerability_detector/test_providers/test_missing_os.py
  tests/integration/test_vulnerability_detector/test_providers/test_multiple_provider_feeds.py
  tests/integration/test_vulnerability_detector/test_providers/test_os.py
  tests/integration/test_vulnerability_detector/test_providers/test_update_from_year.py
  tests/integration/test_vulnerability_detector/test_providers/test_update_interval.py
  tests/integration/test_vulnerability_detector/test_scan_results/data/configuration_template/configuration_scan_provider_and_nvd_vulnerabilities.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/data/configuration_template/configuration_scan_provider_vulnerabilities.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/data/configuration_template/configuration_scan_vulnerability_removal.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/data/test_cases/cases_scan_provider_and_nvd_vulnerabilities.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/data/test_cases/cases_scan_provider_vulnerabilities.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/data/test_cases/cases_scan_vulnerability_removal.yaml
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_nvd_vulnerabilities.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_provider_and_nvd_vulnerabilities.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_provider_vulnerabilities.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_vulnerabilities_triaged_null.py
  tests/integration/test_vulnerability_detector/test_scan_results/test_scan_vulnerability_removal.py
Labels: feature/vuln-detector
