Repository wazuh/wazuh-qa, pull requests merged in 2023-08, with the labels that each got.

#4441 Remove versionStartIncluding from NVD custom feed
  tests/integration/test_vulnerability_detector/data/feeds/nvd/custom_nvd_feed.json
Labels: test/integration, feature/vuln-detector, type/test

#4439 Security flaws check improvements 4.5.2
  CHANGELOG.md
  tests/scans/code_analysis/README.md
  tests/scans/code_analysis/conftest.py
  tests/scans/code_analysis/test_python_flaws.py
  tests/scans/conftest.py
Labels: type/enhancement

#4380 Update known flaws files 4.6.0
  CHANGELOG.md
  tests/scans/code_analysis/known_flaws/known_flaws_api.json
  tests/scans/code_analysis/known_flaws/known_flaws_framework.json
  tests/scans/code_analysis/known_flaws/known_flaws_wodles.json
Labels: feature/framework
